<div style="margin-left: 2%" ng-controller="SuiviNageurController">
	<div class="row">
		<h1 class="page-header">Suivi du nageur <small>par semaine</small></h1>
	</div>
	
	<div class="row">
		<form class="form-inline">
			<div class="form-group">
				 <select class="form-control" ng-model="groupesSelected"
				    	ng-options="groupe.title for groupe in groupes.groups track by groupe.id" ng-change="loadWeeks()" multiple size="10">
			    	<option value="">Choisir un groupe</option>
		  	    </select>
			</div>
			<div class="form-group">
				<input type="week" ng-model="day" class="form-control" />
			</div>
			<button type="submit" class="btn btn-primary" ng-click="loadWeeks()">Afficher</button>
		</form>
	</div>
	
<div ng-show="nageurs">
	<div class="row" ng-show="beginDt">
		<h5>{{beginDt | date: 'shortDate'}} - {{endDt | date: 'shortDate'}}</h5>
	</div>
	
	<div class="row" ng-hide="enf">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nageur(se)</th>
					<th>Lundi</th>
					<th>Mardi</th>
					<th>Mercredi</th>
					<th>Jeudi</th>
					<th>Vendredi</th>
					<th>Samedi</th>
					<th>Dimanche</th>
					<th>Total semaine</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="nageur in nageurs | orderBy:['+nageur.nom', '+nageur.prenom']">
					<td>{{nageur.nom}} {{nageur.prenom}}</td>
					<td>{{nageur.distances[0][0]}}<br />{{nageur.distances[0][1]}}<br />{{nageur.distances[0][2]}}<br /><strong>{{nageur.distances[0][3]}}</strong></td>
					<td>{{nageur.distances[1][0]}}<br />{{nageur.distances[1][1]}}<br />{{nageur.distances[1][2]}}<br /><strong>{{nageur.distances[1][3]}}</strong></td>
					<td>{{nageur.distances[2][0]}}<br />{{nageur.distances[2][1]}}<br />{{nageur.distances[2][2]}}<br /><strong>{{nageur.distances[2][3]}}</strong></td>
					<td>{{nageur.distances[3][0]}}<br />{{nageur.distances[3][1]}}<br />{{nageur.distances[3][2]}}<br /><strong>{{nageur.distances[3][3]}}</strong></td>
					<td>{{nageur.distances[4][0]}}<br />{{nageur.distances[4][1]}}<br />{{nageur.distances[4][2]}}<br /><strong>{{nageur.distances[4][3]}}</strong></td>
					<td>{{nageur.distances[5][0]}}<br />{{nageur.distances[5][1]}}<br />{{nageur.distances[5][2]}}<br /><strong>{{nageur.distances[5][3]}}</strong></td>
					<td>{{nageur.distances[6][0]}}<br />{{nageur.distances[6][1]}}<br />{{nageur.distances[6][2]}}<br /><strong>{{nageur.distances[6][3]}}</strong></td>
					<td>{{nageur.totalDistance}}&nbsp;<span class="badge">{{nageur.totalPresence}} ({{nageur.totalMuscu}} muscus)</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row" ng-show="enf">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nageur(se)</th>
					<th>Lundi</th>
					<th>Mardi</th>
					<th>Mercredi</th>
					<th>Jeudi</th>
					<th>Vendredi</th>
					<th>Samedi</th>
					<th>Dimanche</th>
					<th>Total semaine</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="nageur in nageurs | orderBy:['+nageur.nom', '+nageur.prenom']">
					<td>{{nageur.nom}} {{nageur.prenom}}</td>
					<td><span ng-show="nageur.presences[0]">Présent</span></td>
					<td><span ng-show="nageur.presences[1]">Présent</span></td>
					<td><span ng-show="nageur.presences[2]">Présent</span></td>
					<td><span ng-show="nageur.presences[3]">Présent</span></td>
					<td><span ng-show="nageur.presences[4]">Présent</span></td>
					<td><span ng-show="nageur.presences[5]">Présent</span></td>
					<td><span ng-show="nageur.presences[6]">Présent</span></td>
					<td>{{nageur.totalPresence}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>