<style>
input[type="number"] {
   width:70px;
}
</style>
<div style="margin-left: 2%" ng-controller="SuiviNageurController">
	<div class="row">
		<h1 class="page-header">Suivi du nageur <small>par jour</small></h1>
	</div>
	
	<div class="row">
		<form class="form-inline">
			<div class="form-group">
				 <select class="form-control" ng-model="groupe"
				    	ng-options="groupe.title for groupe in groupes.groups track by groupe.id">
			    	<option value="">Choisir un groupe</option>
		  	    </select>
			</div>
			<div class="form-group">
				<input type="date" ng-model="day" class="form-control" />
			</div>
			<button type="submit" class="btn btn-primary" ng-click="loadSuivi()">Afficher</button>
		</form>
	</div>
	<div class="row">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nageur(se)</th>
					<th>Matin</th>
					<th>Midi</th>
					<th>Soir</th>
					<th>Musculation</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="nageur in nageurs | orderBy:['+nageur.nom', '+nageur.prenom']" ng-click="setSelected(nageur)" ng-class="{'row-selected': nageur.selected}">
					<td>{{nageur.nom}} {{nageur.prenom}}</td>
					<td><input type="number" ng-model="nageur.morning.distance" min="0" ng-change="updateSuivi(nageur.adherent, nageur, 'MATIN')" /></td>
					<td><input type="number" ng-model="nageur.midday.distance" min="0" ng-change="updateSuivi(nageur.adherent, nageur, 'MIDI')" /></td>
					<td><input type="number" ng-model="nageur.night.distance" min="0" ng-change="updateSuivi(nageur.adherent, nageur, 'SOIR')" /></td>
					<td><input type="checkbox" ng-model="nageur.bodybuilding.presence" ng-change="updateSuivi(nageur.adherent, nageur, 'MUSCU')" /></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<h5>Recopier la valeur pour tous les nageurs sélectionnés</h5>	
		<form class="form-inline">
			<div class="form-group">
				<select ng-model="swimmerStatUpdateAllAction.dayTime">
					<option value="MATIN">MATIN</option>
					<option value="MIDI">MIDI</option>
					<option value="SOIR">SOIR</option>
				</select>
			</div>
			<div class="form-group">
				<input type="number" ng-model="swimmerStatUpdateAllAction.valeur" min="0" />
			</div>
			<button type="button" class="btn btn-primary btn-sm" ng-click="updateSelected()">Valider</button>
		</form>
	</div>
</div>