<div style="margin-left: 2%" ng-controller="SuiviNageurController">
	<div class="row">
		<h1 class="page-header">Suivi du nageur <small>par période</small></h1>
	</div>
	
	<div class="row">
		<form class="form-inline">
			<div class="form-group">
				 <select class="form-control" ng-model="groupesSelected"
				    	ng-options="groupe.title for groupe in groupes.groups track by groupe.id" ng-change="loadPeriode()">
			    	<option value="">Choisir un groupe</option>
		  	    </select>
			</div>
			<div class="form-group">
				<input type="date" ng-model="day" class="form-control" />
			</div>
			<div class="form-group">
				<input type="date" ng-model="endDay" class="form-control" />
			</div>
			<button type="submit" class="btn btn-primary" ng-click="loadPeriode()">Afficher</button>
		</form>
	</div>
	
<div ng-show="nageurs">
	<div class="row" ng-show="beginDt">
		<h5>{{beginDt | date: 'shortDate'}} - {{endDt | date: 'shortDate'}}</h5>
	</div>
	
	<div class="row">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nageur(se)</th>
					<th ng-repeat="i in monthArray">{{i | date: 'MMMM'}}</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="nageur in nageurs">
					<td>{{nageur.nom}} {{nageur.prenom}}</td>
					<td ng-repeat="distance in nageur.distances"><span ng-show="distance.valeur > 0">{{distance.valeur | number}} ({{distance.presence}} séances)</span><span ng-show="distance.valeur > 0 && distance.muscu > 0"> et </span><span ng-show="distance.muscu > 0"> {{distance.muscu}} muscu</span></td>
					<td>{{nageur.totalDistance | number}}&nbsp;<span class="badge">{{nageur.totalPresence}} séances, ({{nageur.totalMuscu}} muscu)</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>