<div class="container" ng-controller="ExtractionController">
	<div class="row">
		<h1 class="page-header">Extraction des données adhérents</h1>
	</div>
   <form class="form-horizontal">
   		<div class="form-inline">
	   	   <div class="col-md-4 form-group">
	       		<label for="groupe">1. Sélectionner un ou plusieurs groupes - Facultatif(par défaut tous les adhérents sont sélectionnés)</label>
	    		<select class="form-control" id="groupe" ng-model="groupe"
	    			ng-options="groupe.id as groupe.title for groupe in groupes" multiple size="15">
				</select>
			</div>
			<div class="col-md-3 form-group">
	        	<label for="fields">2. Sélectionner une ou plusieurs valeurs à extraire</label> 
	            <select class="form-control" id="fields" name="fields" ng-model="selectedFields" ng-options="possibleField as possibleField for possibleField in possibleFields" multiple size="10">
	            </select>
		    </div>
		    <div class="col-md-3 form-group">
	        	<label for="conditions">3. Choisir une condition - Facultatif</label> 
	            <select class="form-control" id="conditions" name="conditions" ng-model="selectedConditions" ng-options="possibleCondition as possibleCondition for possibleCondition in possibleConditions" multiple size="10">
	            </select>
	            <div class="checkbox">
	          		<label>
	          			<input type="checkbox" id="dossierOnly" ng-model="dossierOnly" ng-true-value="'true'" ng-false-value="'false'" /> Dossier uniquement
	          		</label>
          		</div>
		    </div>
	    </div>
	    <div class="col-md-12 form-group">
    		<a href="{{extraire()}}" class="btn btn-success btn-block" role="button"><span class="glyphicon glyphicon-file"></span> Lancer l'extraction</a>
	    </div>
    </form>
</div>