@CHARSET "UTF-8";

body {
	background-color: #eaf5f7;
	font-family: sans-serif, Verdana;
	font-size: 0.8em;
}

label:after {
	content: ": ";
}

fieldset {
	background-color: #eaf5f7;
	border: 1px solid #4297d7;
	border-radius: 15px;
	margin-bottom: 2%;
}

legend {
	font-weight: bold;
}

#result {
	border: 1px solid #7C858A;
	border-radius: 15px;
	background-color: #9DD0F6;
	padding: 5px;
	text-align: center;
	font-size: 1.1em;
}

.bar {
	padding: 1%;
}

.no-close .ui-dialog-titlebar {
  display: none;
}

#loading {
	background-color: #225aae;
}

.loading-dialog .ui-dialog-titlebar { display: none; }

.link {
	font-weight: bold;
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

#result table {
	border: 1px solid #4297d7;
	border-collapse: collapse;
	width: 100%;
}

#result tr {
	border: 1px solid #4297d7;
	padding: 5px;
	vertical-align: top;
}

.info-set {
	border: 1px solid #000000;
	padding-left: 1%;
	margin-bottom: 1%;
}

.info-value {
	font-weight: bold;
}

.info-set-title {
	font-weight: bold;
	font-size: 1.1em;
	font-style: italic;
	background-color: #c7d4e4;
}