<div class="container" ng-controller="EnfController">
<div class="row">
	<div class="col-md-10">
		<h1 class="page-header">Ecole de natation</h1>
	</div>
</div>

<div class="col-md-10">
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#presence" target="_self">Fiches de présences</a></li>
    <li><a data-toggle="tab" href="#jour" target="_self">Liste des inscrits par jour (à supprimer)</a></li>
   
 </ul>
 
<div class="tab-content">
    <div id="presence" class="tab-pane fade in active">
    	<div ng-include="'views/enf/enf-presence.html'"></div>
    </div>
    <div id="jour" class="tab-pane fade in">
    	<div ng-include="'views/enf/enf-jours.html'"></div>
    </div>
    
</div>
</div>
</div>