<div class="container" ng-controller="CreneauStatController">
	<div class="row">
		<h1 class="page-header">Taux de remplissage <small>par créneaux</small></h1>
	</div>
	
	<ul class="nav nav-tabs">
	    <li ng-repeat="piscine in piscines |orderBy: 'statTitle'">
	    	<a data-toggle="tab" href="#{{piscine.id}}" target="_self">{{piscine.statTitle}}</a>
	    </li>
 	</ul>
 
<div class="tab-content">
    <div ng-repeat="piscine in piscines |orderBy: 'statTitle'" id="{{piscine.id}}" class="tab-pane fade in">


<div class="row">
    <h4>{{piscine.statTitle}} ({{groupeOccupe(piscine)}}/{{piscine.capacite}})</h4>
    
    <div class="row table-responsive"  ng-repeat="jour in piscine.jours | orderBy:jourSort">
       <h5>{{jour.statTitle}} ({{groupeOccupe(jour)}}/{{jour.capacite}})</h5>
	   <table class="table table-hover">
	       <thead>
	           <tr>
	               <th>Groupe</th>
	               <th>Horaire</th>
	               <th>Capacité</th>
	               <th>Occupé</th>
	               <th>Disponible</th>
	               <th>Taux d'occupation</th>
	           </tr>
	       </thead>
	       <tbody ng-repeat="groupe in jour.groupes">
	           <tr>
	               <td colspan="2">{{groupe.statTitle}}</td>
	               <td>{{groupe.capacite}}</td>
	               <td>{{groupeOccupe(groupe)}}</td>
	               <td>{{groupe.disponibles}}</td>
	               <td>{{groupeTaux(groupe) | number:2}} %</td>
	           </tr>
	           <tr ng-repeat="creneau in groupe.creneaux">
                   <td></td>
                   <td>{{creneau.statTitle}}</td>
                   <td>{{creneau.capacite}}</td>
                   <td>{{groupeOccupe(creneau)}}</td>
                   <td>{{creneau.disponibles}}</td>
                   <td>{{groupeTaux(creneau) | number:2}} %</td>
               </tr>
	           <tr class="info">
	               <td></td>
	               <td>{{getTotalCapacite(groupe.creneaux)}}</td>
	               <td>{{getTotalOccupe(groupe.creneaux)}}</td>
	               <td>{{getTotalDisponible(groupe.creneaux)}}</td>
	               <td>{{getTotalTaux(groupe.creneaux) | number:2}} %</td>
	           </tr>
	       </tbody>
	   </table>
	  </div>
</div>
</div>
</div>
</div>