<style>
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
</style>

<div class="row">
<div id="panel-adherent" class="col-md-11">
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">{{adherent.dossier.nom}} {{adherent.dossier.prenom}} - {{adherent.dossier.datenaissance}}</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
			<form role="form">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nom" ng-model="{{adherent.dossier.nom}}" />
				</div>
			</form>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h3>{{adherent.groupe.title}}</h3>
				<table class="table table-user-information">
					<tbody>
						<tr ng-repeat="creneau in adherent.creneaux">
							<td>{{creneau.swimmingPool}} {{creneau.dayOfWeek}} {{creneau.beginStr}}-{{creneau.endStr}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<a title="Envoyer un e-amil" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
		<span class="pull-right">
            <a href="edit.html" title="Modifier" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="" title="Changer de groupe" type="button" class="btn btn-sm btn-success" ng-click="loadGroupe()"><i class="glyphicon glyphicon-th-large"></i></a>
            <a href="" title="Changer de créneaux" type="button" class="btn btn-sm btn-success" ng-click="loadCreneaux()"><i class="glyphicon glyphicon-th"></i></a>
            <a title="Supprimer" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
        </span>
	</div>
</div>
</div>
<div id="panel-groupe" class="hidden">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Changement de groupe</h3>
		</div>
		<div class="panel-body">
			<select class="form-control" placeholder="Groupes" ng-change="loadCreneaux()" ng-model="adherent.groupe"
			    	ng-options="groupe.title for groupe in groupes.groups track by groupe.id">
			 	<option value="">Choisir un groupe</option>
			</select>
		</div>
	</div>
</div>

<div id="panel-creneaux" class="hidden">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Sélection des créneaux</h3>
		</div>
		<div class="panel-body">
				<select multiple class="form-control" ng-model="adherent.creneaux" ng-options="(creneau.swimmingPool + ' ' + creneau.dayOfWeek + ' ' +  creneau.beginStr + '-' + creneau.endStr + ' (' + (creneau.placeDisponible - creneau.placeRestante) + '/' + creneau.placeDisponible + ')') for creneau in creneaux track by creneau.id">
					<option value="">Choisir un creneau</option>
				</select>
		</div>
		<div class="panel-footer">
			<button type="button" class="btn btn-primary btn-block" ng-click="updateAdherent()">Valider</button>
		</div>
		</div>
	</div>
</div>
</div>