<div class="container">
	<div class="list-group">
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Lundi</h4>
			<p class="list-group-item-text"><a href="/testEcole.do?action=jours&selectedJour=Lundi&selectedPiscine=Castex">Castex</a></p>
			<p class="list-group-item-text"><a href="/testEcole.do?action=jours&selectedJour=Lundi&selectedPiscine=Lautrec">Lautrec</a></p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Mardi</h4>
			<p class="list-group-item-text"><a href="/testEcole.do?action=jours&selectedJour=Mardi&selectedPiscine=Alex">Alex</a></p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Mercredi</h4>
			<p class="list-group-item-text"><a href="/testEcole.do?action=jours&selectedJour=Mercredi&selectedPiscine=Alex">Alex</a></p>
			<p class="list-group-item-text"><a href="/testEcole.do?action=jours&selectedJour=Mercredi&selectedPiscine=Naves">Raymond Naves</a></p>
			<p class="list-group-item-text"><a href="/testEcole.do?action=jours&selectedJour=Mercredi&selectedPiscine=Lautrec">Lautrec</a></p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Jeudi</h4>
			<p class="list-group-item-text"><a href="/testEcole.do?action=jours&selectedJour=Jeudi&selectedPiscine=Lagrange">Léo</a></p>
			<p class="list-group-item-text"><a href="/testEcole.do?action=jours&selectedJour=Jeudi&selectedPiscine=Castex">Castex</a></p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Vendredi</h4>
			<p class="list-group-item-text"><a href="/testEcole.do?action=jours&selectedJour=Vendredi&selectedPiscine=Alex">Alex</a></p>
			<p class="list-group-item-text"><a href="/testEcole.do?action=jours&selectedJour=Vendredi&selectedPiscine=Lagrange">Leo</a></p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Samedi</h4>
			<p class="list-group-item-text"><a href="/testEcole.do?action=jours&selectedJour=Samedi&selectedPiscine=Alex">Alex</a></p>
			<p class="list-group-item-text"><a href="/testEcole.do?action=jours&selectedJour=Samedi&selectedPiscine=Naves">Léo</a></p>
		</li>
	</div>
</div>