<div class="container" ng-controller="HomeController">

<h2>Bienvenue {{aspttTokenInfo.prenom}}</h2>

	<div class="row" style="margin-top: 3%">
		<div class="col-md-5">
			<div class="panel panel-primary">
				<div class="panel-heading">Rechercher un dossier d'inscription</div>
				<div class="panel-body">
					<form class="form" ng-submit="search()">
						<div class="row">
						<div class="col-lg-12">
					       <div class="input-group">
					           <input type="text" class="form-control" ng-model="query" />
					        <span class="input-group-btn">
						   	<button type="button" class="btn btn-primary" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
						   	</span>
						   	</div>
						   </div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<div class="col-md-5">
			<div class="panel panel-primary">
				<div class="panel-heading">Salarié - Activité</div>
				<div class="panel-body">
					<a href="/salarie/admin.html">salarie.asptt-toulouse-natation.com</a>
				</div>
			</div>
		</div>
	</div>
</div>