@CHARSET "UTF-8";

body {
	background-color: #eaf5f7;
	font-family: sans-serif, Verdana;
	font-size: 0.8em;
}

label:after {
	content: ": ";
}

fieldset {
	background-color: #eaf5f7;
	border: 1px solid #4297d7;
	border-radius: 15px;
	margin-bottom: 2%;
}

legend {
	font-weight: bold;
}

.note-importante {
	color: #FF0000;
	font-size: 1.7em;
}

.bar {
	padding: 1%;
}

.no-close .ui-dialog-titlebar {
  display: none;
}

#loading {
	background-color: #225aae;
}

.loading-dialog .ui-dialog-titlebar { display: none; }

#nouveauPopup {
	background-color:#eaf5f7;
}

.link {
	font-weight: bold;
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}