<h3>Nouvelle page</h3>
<form>
	<div class="form-group">
		<label for="menuIntitule">Intitulé du menu</label>
		<input type="text" id="menuIntitule" class="form-control" ng-model="currentPage.title" />
	</div>
	<div class="form-group">
		<label for="menuOrdre">Ordre du menu</label>
		<input type="number" id="menuOrdre" class="form-control" ng-model="currentPage.order" />
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="currentPage.alone" />
			Sans sous-menu
		</label>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="currentPage.display" />
			Publier (sinon brouilon)
		</label>
	</div>
	<div class="form-group">
		<label for="identifier">Identifiant</label>
		<input type="text" id="identifier" class="form-control" ng-model="currentPage.identifier" />
	</div>
	<div class="form-group">
    	<label>Texte</label>
    	<div text-angular="text-angular" ng-model="currentPage.content"></div>
    </div>
	<button type="submit" class="btn btn-success btn-block" ng-click="savePage()">Créer</button>
</form>