<!DOCTYPE html>
<html lang="fr" ng-app="aspttNatTlsApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="shortcut icon" href="img/favicon.png">

    <title>Club ASPTT Grand Toulouse Natation</title>
    
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    
    <link href="index.css" rel="stylesheet">
    
	
	<!-- <link rel="stylesheet" href="bootstrap/css/magic-bootstrap.css" /> -->
	<link rel="stylesheet" href="css/popup1.css" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
	<script type="text/javascript" src="js/login/LoginController.js"></script>
	<script type="text/javascript" src="js/login/LoginService.js"></script>
	<script type="text/javascript" src="js/document/DocumentController.js"></script>
	<script type="text/javascript" src="js/document/DocumentationController.js"></script>
	<script type="text/javascript" src="js/document/DocumentService.js"></script>
	<script type="text/javascript" src="js/media/MediaController.js"></script>
	<script type="text/javascript" src="js/media/MediaServices.js"></script>
	<script type="text/javascript" src="js/inscription/InscriptionController.js"></script>
	<script type="text/javascript" src="js/inscription/InscriptionService.js"></script>
	
	<link rel="stylesheet" href="js/responsivesslides/responsiveslides.css" />
	<link rel="stylesheet" href="css/bootstrap-social.css" />
	
	<link rel="stylesheet" href="js/angular-spinkit-master/build/angular-spinkit.min.css">
	<script src="js/angular-spinkit-master/build/angular-spinkit.min.js"></script>
	
    <!-- Bootstrap core CSS -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="bootstrap/assets/js/html5shiv.js"></script>
      <script src="bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>
	
    <link rel="stylesheet/less" href="bootstrap/less/bootstrap.less">
	<script src="bootstrap/assets/js/less.js"></script> -->
	
  </head>
<!-- NAVBAR
================================================== -->
  <body data-target="#scroll-top" data-spy="scroll" id="body_top" >
  
  <nav class="navbar navbar-default" role="navigation" ng-controller="LoadingAppCtrl" style="margin-top: 25px; min-height: 26px">
          <div class="container">
	          <div class="navbar-header">
	              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	              </button>
	              <a href="/" style="outline: none; -moz-outline-style: none; padding: 3px 15px 3px 15px; font-size: 1.2em">
                		<img src="img/logoclub.png" class="logo" />
                	</a>
                	<span class="logo-text"><a class="navbar-brand" href="/">ASPTT Toulouse Natation</a></span>
	          </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav" style="margin: 0 0 0 11%">
                <li class="dropdown" ng-repeat="menu in loadingApp.menus">
                		<a href="" class="dropdown-toggle" data-toggle="dropdown" ng-if="menu.hasSubMenu" style="outline: none; -moz-outline-style: none; padding: 3px 15px 3px 15px; font-size: 1.2em">{{menu.title}}<b class="caret"></b></a>
                		<a ng-href="#/page/{{menu.identifier}}" class="dropdown" ng-if="!menu.hasSubMenu" style="outline: none; -moz-outline-style: none; padding: 3px 15px 3px 15px; font-size: 1.2em">{{menu.title}}</a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="menuSubMenu in menu.subMenu" ng-class="{'divider': menuSubMenu.divider, 'dropdown-header': menuSubMenu.alone}"><a ng-href="#/page/{{menuSubMenu.identifier}}" ng-hide="menuSubMenu.divider || menuSubMenu.alone">{{menuSubMenu.title}}</a><span ng-show="menuSubMenu.alone">{{menuSubMenu.title}}</span></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
       <!--  </div>
-->
</nav>
    </div>
    	
	<div id="main-panel" class="container" style="margin-top: 1%">
		<div data-spy="affix" data-offset-top="120" id="affix">
		<ng-loading-indicator></ng-loading-indicator>
		<div ng-view></div>
    </div>
  		
</div>
		<!-- FOOTER -->
      <footer>
      	
        <img id="scroll-top" src="img/top.png" onclick="scrollToTop()" />
       <!-- <div id="pub" class="text-center"><img data-src="holder.js/1000x60/text:Publicité" /></div>
        <div id="footer-partenaires" class="footer-partenaires">
        	<div class="row">
        		<div class="col-md-2"><h2 class="footer-links-title">Partenaires institutionnels</h2></div>
	        	<div class="col-md-10">
	        		<a href="http://www.ffnatation.fr" target="_blank"><img src="https://lh5.googleusercontent.com/-LSFzLnmYVZI/VSEYHqhsJaI/AAAAAAAAEW0/DLZdBDSFSXY/w128-h82-no/FFN.png" title="FFN" /></a>
	        		<a href="http://midipyrenees.ffnatation.fr" target="_blank"><img src="https://lh5.googleusercontent.com/-noNwx9JE5-Y/VSEYIFNMuUI/AAAAAAAAEXA/xi2xik4E8iY/w70-h84-no/FFN_region.png" /></a>
	        		<a href="http://hautegaronne.ffnatation.fr" target="_blank"><img src="https://lh5.googleusercontent.com/-cTd55gU_4Qc/VSEYHrA8HCI/AAAAAAAAEWw/F8gQSxJmLxc/w65-h82-no/FFN_departement.png" /></a>
	        		<a href="http://www.midipyrenees.fr" target="_blank"><img src="https://lh5.googleusercontent.com/-QdejrKgIf2Q/VSEYJVWycGI/AAAAAAAAEWc/pUQfFD_joY4/w75-h72-no/midipyrennee.png" /></a>
        			<a href="http://www.haute-garonne.fr" target="_blank"><img src="https://lh3.googleusercontent.com/-rhCRqEWnex0/VSEYJA59MjI/AAAAAAAAEWQ/UZ20s9DeVYs/w76-h103-no/departement.png" /></a>
        			<a href="http://www.toulouse.fr" target="_blank"><img src="https://lh3.googleusercontent.com/-HYEzUb1IZ1c/VSEYIbjxhLI/AAAAAAAAEWs/vFNaafm655A/w147-h30-no/Mairie.png" /></a>
        			<a href="http://www.asptt.com" target="_blank"><img src="https://lh5.googleusercontent.com/-D2Fcddtme-g/VSEYHq-XI0I/AAAAAAAAEW8/xbNMG3KbOM4/w107-h45-no/ASPTT.png" /></a>
        			<a href="http://grandtoulouse.asptt.com/" target="_blank"><img src="https://lh4.googleusercontent.com/-LH-99J1OT8U/VSEYIwAB_zI/AAAAAAAAEWk/hdeSY54lUXM/w103-h26-no/aspttGrandToulouse.png" /></a>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-2"><h2 class="footer-links-title">Partenaires officiels équipement</h2></div>
        		<div class="col-md-10">
        			<a href="http://www.arena.fr" target="_blank"> <img src="https://lh3.googleusercontent.com/-LBMmhEVX4do/VSEYIufxq2I/AAAAAAAAEWo/fJeqxZsVfgI/w125-h85-no/arena.png" /> </a>
        			<a href="http://www.nataquashop.com" target="_blank"> <img src="https://lh6.googleusercontent.com/-ilKCBoT0dMU/VSEYJlyTncI/AAAAAAAAEWY/EZQSIhTMrOI/w154-h51-no/nataquashop.png" /></a>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-2"><h2 class="footer-links-title">Partenaires</h2></div>
        		<div class="col-md-10">
        			<a href="http:/www.physioswim.com" target="_blank"><img src="https://lh4.googleusercontent.com/-EvGdEZ6aq14/VHIrQ4JaJFI/AAAAAAAADo8/HQmaaf_6ScY/w800-h500-no/physio.png" style="width: 125px; height: auto" /></a>
        		</div>
        	</div>
        </div>
        <div id="footer-title" class="row footer-titles">
        	<div class="col-md-3 center-block">
        		<h2 class="footer-links-title">ASPTT Toulouse Natation</h2>
        		<ul class="footer-links-content">
        			<li><a href="#/page/actualites" class="footer-links-content-link">Actualités</a></li>
        			<li><a href="#/page/comite" class="footer-links-content-link">Le comité de section</a></li>
        			<li><a href="#/page/entraineurs" class="footer-links-content-link">Les entraîneurs</a></li>
        			<li><a href="#/page/secrétariat" class="footer-links-content-link">Nous contacter</a></li>
        			<li><a href="#/mentions" class="footer-links-content-link">Mentions légales</a></li>
        		</ul>
        	</div>
        	<div class="col-md-3">
        		<h2 class="footer-links-title">Activités</h2>
        		<ul class="footer-links-content">
        			<li><a href="#/page/actualites" class="footer-links-content-link">Ecole de natation</a></li>
        			<li><a href="#/page/comite" class="footer-links-content-link">Loisirs</a></li>
        			<li><a href="#/page/entraineurs" class="footer-links-content-link">Aquagym</a></li>
        			<li><a href="#/page/entraineurs" class="footer-links-content-link">Compétition</a></li>
        			<li><a href="#/page/entraineurs" class="footer-links-content-link">Section sportive</a></li>
        		</ul>
        	</div>
        	<div class="col-md-3">
        		<h2 class="footer-links-title">Nous rejoindre</h2>
        		<ul class="footer-links-content">
        			<li><a href="#/page/actualites" class="footer-links-content-link">Inscription</a></li>
        			<li><a href="#/page/secrétariat" class="footer-links-content-link">Secrétariat</a><br /><div class="footer-address">54 rue des Sept Troubadours<br />Bureau 215 (2ème étage)<br />31000 Toulouse<br />Tel: 05 61 62 68 45</div></li>
        		</ul>
        	</div>
        	<div class="col-md-3">
        		<h2 class="footer-links-title">Suivez-nous</h2>
        		<ul class="footer-links-content">
        			<li><a href="https://plus.google.com/113747450706652808889" target="_blank" class="btn btn-social-icon btn-google-plus" rel="publisher">
						<i class="fa fa-google-plus"></i>
					</a>
					<a href="https://www.facebook.com/asptttoulousenatation" target="_blank" class="btn btn-social-icon btn-facebook" rel="publisher">
						<i class="fa fa-facebook"></i>
					</a></li>
        		</ul>
        	</div>
        </div>-->
      </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/assets/js/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="bootstrap/assets/js/holder.js"></script>
    <script type="text/javascript" src="js/responsivesslides/responsiveslides.min.js"></script>
    <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="js/bootstrap-calendar/components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="js/bootstrap-calendar/js/calendar.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-calendar/js/language/fr-FR.js"></script>
    <script>
    $( document ).ready(function() {
    	setTimeout("loadCarous()", 2000);
    	setTimeout("loadAffix()", 1000);	
    	
    });
    
    function ajouterEnfant() {
		if(confirm("Inscrire une autre enfant ?")) {
			$("#info-contact").before('<li><a href="#nageur1" data-toggle="tab" title="Informations du nageur(euse)" target="_self"><span class="round-tabs three"><i class="glyphicon glyphicon-user"></i></span> </a></li>');
			var tab = $('<div class="tab-pane fade" id="nageur1"></div>');
			$("#tab-content").append(tab);
			$('#myTab a[href="#nageur1"]').tab('show'); 
		} else {
		alert('ok');		
		}
	}
    
    function loadAffix() {
    	$('#sidebar').affix({
    	    offset: {
    	      top: $('nav').height()
    	    }
    	});
    	$('#scroll-top').affix({
    	    offset: {
    	      top: $('nav').height()
    	    }
    	});
    }
    function loadCarous() {
        $("#carous").responsiveSlides({
            maxwidth: 900,
            speed: 300,
            namespace: "callbacks",
            nav: false
          });
     }
    	function openPopup(popWidth, popID) {

    		//Faire apparaitre la pop-up et ajouter le bouton de fermeture
    		$('#' + popID).fadeIn().css({ 'width': popWidth}).prepend('<a href="#" class="close"><img src="close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>');
    		
    		//Récupération du margin, qui permettra de centrer la fenêtre - on ajuste de 80px en conformité avec le CSS
    		var popMargTop = ($('#' + popID).height() + 80) / 2;
    		var popMargLeft = ($('#' + popID).width() + 80) / 2;
    		
    		//Apply Margin to Popup
    		$('#' + popID).css({ 
    			'margin-top' : -popMargTop,
    			'margin-left' : -popMargLeft
    		});
    		
    		//Apparition du fond - .css({'filter' : 'alpha(opacity=80)'}) pour corriger les bogues d'anciennes versions de IE
    		$('body').append('<div id="fade"></div>');
    		$('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn();
    		
    		return false;
    	}
    	
        jQuery(function($){
	   		   
        	//Lorsque vous cliquez sur un lien de la classe poplight
    	//Close Popups and Fade Layer
    	$('body').on('click', 'a.close, #fade', function() { //Au clic sur le body...
    		$('#fade , .popup_block').fadeOut(function() {
    			$('#fade, a.close').remove();  
    	}); //...ils disparaissent ensemble
    		
    		return false;
    	});
    });
        
        function asptt_scrollTo(anchor) {
        	$('html, body').animate({  
                scrollTop:$("#" + anchor).offset().top  
            }, 'slow');
        }
        
        function scrollToTop() {
        	asptt_scrollTo("body_top");
        }
    </script>
    
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51398592-1', 'asptt-toulouse-natation.com');
  ga('send', 'pageview');

</script>
  </body>
</html>
