<div class="container" ng-controller="EngagementController">
	<div class="row">
		<h1 class="page-header">Engagements</h1>
	</div>
	<div class="row">
		<div class="form">
			<div class="form-group">
				<label for="competition">Compétition</label>
				<select id="competition" class="form-control" ng-model="competition" ng-options="competition.title for competition in competitions" ng-change="loadEpreuves()">
				</select>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 1%" ng-show="epreuves">
			<h3>Engagements aux épreuves de {{competition.title}}</h3>
			<button type="button" class="btn btn-success btn-xs" ng-click="addEngagement()"><span class="glyphicon glyphicon-plus"></span> Ajouter un engagement</button>
		<div class="col-lg-10">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nageur</th>
						<th>Epreuves</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="engagement in engagements">
						<td>
							<input type="TEXT" ng-model="engagement.nageur" />
						</td>
						<td>
								<p ng-repeat="epreuve in engagement.epreuves">
									<select ng-model="epreuve" ng-options="displayEpreuve(epreuve) for epreuve in epreuves">
									</select>
								</p>
								<button type="button" class="btn btn-success btn-xs" ng-click="addEpreuve(engagement)"><span class="glyphicon glyphicon-plus"></span> Ajouter une épreuve</button>
						</td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-success btn-block" ng-click="enregistrer()">Enregistrer</button>
		</div>
	</div>
</div>
