<style>

.upload-drop-zone {
	margin-top: 2%;
	color: #ccc;
	border-style: dashed;
	border-color: #9750d4;
	line-height: 200px;
	text-align: center
}
.upload-drop-zone-drop {
  color: #222;
  margin-top: 2%;
	border-style: solid;
	border-color: #9750d4;
	line-height: 200px;
	text-align: center
}

</style>
<div class="container" ng-controller="DocumentController">
	<div class="row">
		<h1 class="page-header">Documents</h1>
	</div>
	<div class="row">
		<div id="panel-documents" class="col-md-11">
			<button type="button" class="btn btn-primary btn-sm" title="Ajouter un fichier" ng-click="showUploadPanel()"><span class="glyphicon glyphicon-cloud-upload"></span></button>
			<button type="button" class="btn btn-primary btn-sm" title="Actualiser" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></button>
			<input ng-model="searchText" placeholder="Filtrer" size="40" />
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Description</th>
						<th>Date de création</th>
						<th>Nom du fichier</th>
						<th>Libellé(s)</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="document in documents | filter:searchText" ng-click="selectDocument(document)">
						<td>{{document.title}}</td>
						<td>{{document.summary}}</td>
						<td>{{document.creationDate | date: short}}</td>
						<td><abbr title="{{document.fileName}} ({{document.mimeType}})">{{document.fileName}}</abbr></td>
						<td>
							<span ng-repeat="libelle in document.libelles">{{libelle}}<br /></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="panel-edit" class="hidden col-md-6">
			<div class="row" ng-show="currentDocument && !showCreationPanel">
				<form role="form" class="form-vertical" name="editForm" ng-submit="editDocument()" novalidate>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Editer le document<span class="pull-right" style="cursor:pointer" ng-click="hideEdit()"><i class="glyphicon glyphicon-remove"></i></span></h3>
						</div>
						<div class="panel-body">
								<div class="form-group">
									<div class="text-center" ng-class="{'bg-success' : documentUpdateResult.success, 'bg-danger': !documentUpdateResult.success}" ng-show="editForm.$submitted">
										<span ng-show="documentUpdateResult.success"><strong>Le document {{documentUpdateAction.title}} a été mise à jour avec succès</strong></span>
										<span ng-show="!documentUpdateResult.exists && !documentUpdateResult.success"><strong>Le document {{documentUpdateAction.title}} n'a pas pu être mis à jour (erreur inconnue)</strong></span>
									</div>
								</div>
								<div class="form-group" ng-class="{ 'has-error' : editForm.currentDocumentTitle.$invalid && !editForm.currentDocumentTitle.$pristine }">
									<input class="form-control" ng-model="documentUpdateAction.title" name="currentDocumentTitle" />
								</div>
								<div class="form-group" ng-class="{ 'has-error' : editForm.currentDocumentSummary.$invalid && !editForm.currentDocumentSummary.$pristine }">
									<input class="form-control" ng-model="documentUpdateAction.summary" name="currentDocumentSummary" />
								</div>
								<div class="form-group" ng-class="{ 'has-error' : editForm.currentDocumentLibelle.$invalid && !editForm.currentDocumentLibelle.$pristine }">
									<label for="currentDocumentLibelle">Libellé(s)</label>
									<select id="currentDocumentLibelle" name="currentDocumentLibelle" class="form-control" ng-model="documentUpdateAction.libelles" ng-options="libelle for libelle in libelles" size="10" multiple>
									</select>
								</div>
						</div>
						<div class="panel-footer">
							<button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span></button>
				            <button type="button" title="Supprimer" class="btn btn-sm btn-danger" ng-click="remove()"><i class="glyphicon glyphicon-remove"></i></button>
				        </div>
			        </div>
		        </form>
			</div>
		</div>
		<div id="panel-upload" class="hidden col-md-6">
			<div class="row" ng-show="showCreationPanel">
				<form role="form" class="form-vertical" name="uploadForm" ng-submit="upload()" enctype="multipart/form-data" novalidate>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Ajouter un document<span class="pull-right" style="cursor:pointer" ng-click="hideUpload()"><i class="glyphicon glyphicon-remove"></i></span></h3>
						</div>
						<div class="panel-body">
								<div class="form-group">
									<div class="text-center" ng-class="{'bg-success' : documentUpdateResult.success, 'bg-danger': !documentUpdateResult.success}" ng-show="editForm.$submitted">
										<span ng-show="documentUpdateResult.success"><strong>Le document {{documentUpdateAction.title}} a été mise à jour avec succès</strong></span>
										<span ng-show="!documentUpdateResult.exists && !documentUpdateResult.success"><strong>Le document {{documentUpdateAction.title}} n'a pas pu être mis à jour (erreur inconnue)</strong></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group" ng-class="{ 'has-error' : uploadForm.uploadDocumentTitle.$invalid && !uploadForm.uploadDocumentTitle.$pristine }">
										<input class="form-control" ng-model="documentUploadAction.title" name="uploadDocumentTitle" placeholder="intitulé" />
									</div>
									<div class="form-group" ng-class="{ 'has-error' : uploadForm.uploadDocumentSummary.$invalid && !uploadForm.uploadDocumentSummary.$pristine }">
										<input class="form-control" ng-model="documentUploadAction.summary" name="uploadDocumentSummary" placeholder="description" />
									</div>
									<div class="form-group" ng-class="{ 'has-error' : uploadForm.uploadDocumentLibelle.$invalid && !uploadForm.uploadDocumentLibelle.$pristine }">
										<label for="uploadDocumentLibelle">Libellé(s)</label>
										<select id="uploadDocumentLibelle" name="uploadDocumentLibelle" class="form-control" ng-model="documentUploadAction.libelles" ng-options="libelle for libelle in libelles" size="10" multiple>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="form-group">
	                						<input type="file" id="fileUploadInput" name="files[]">
	              						</div>
	              						<div class="form-group">
	              							<div id="drop-zone" class="upload-drop-zone">Déplacer les fichiers ici
	              							<span ng-repeat="file in upload.files">{{file}}</span>
	              							</div>
	              							<div id="drop-zone-list"></div>
	              						</div>
              						</div>
								</div>
								<div class="form-group">
           							<button type="submit" class="btn btn-sm btn-block btn-primary">Ajouter un fichier</button>
            					</div>
						</div>
						<div class="panel-footer">
							<button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span></button>
				            <button type="button" title="Supprimer" class="btn btn-sm btn-danger" ng-click="remove()"><i class="glyphicon glyphicon-remove"></i></button>
				        </div>
			        </div>
		        </form>
			</div>
		</div>
	</div>
</div>