

<div class="row">
<div class="col-md-11">
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">{{document.title}} (créé le {{document.creationDate | date: short}})</h3>
		<h5>{{document.summary}}</h5>
	</div>
	<div class="panel-body">
		<p>{{document.fileName}}</p>
	</div>
	<div class="panel-footer">
            <a href="" title="Changer de groupe" type="button" class="btn btn-sm btn-success" ng-click="loadGroupe()"><i class="glyphicon glyphicon-th-large"></i></a>
            <a href="" title="Changer de libellé" type="button" class="btn btn-sm btn-success" ng-click="loadCreneaux()"><i class="glyphicon glyphicon-th"></i></a>
            <a title="Supprimer" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
	</div>
</div>
</div>
</div>