<link rel="stylesheet" href="css/bootstrap-social.css" />
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
        <div id="carous_container" class="callbacks_container" >
			<ul class="rslides" id="carous">
				<li ng-repeat="actualite in loadingApp.actualites">
					<img ng-src="{{actualite.imageUrl}}" alt="{{actualite.title}}" style="max-height: 500px; width: auto"/>
					<p class="caption" ng-click="showActualite(actualite)">
		              <span style="font-size: 2.0em;padding: 0px 10px; cursor: pointer;">{{actualite.title}}</span>
		              <br />
		              <button type="button" class="btn btn-default btn-sm actu-more-btn">En savoir plus</button>
		            </p>
				</li>
			</ul>
         </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	<div id="actualites" style="display:none">
			<div id="actualites-content" class="panel panel-info">
				<div class="panel-heading">
					<h4>{{actualiteTitle}}
					<button type="button" class="close" ng-click="hideActualite()">x</button>
					</h4>
				</div>
				<div class="panel-body" ng-bind-html="actualiteHtml"></div>
				
				<div ng-show="actuHasDocument">
					<h4>Documents associés <span class="badge">{{actuNbDocuments}}</span></h4>
						<div class="list-group">
							<a href="downloadDocument?documentId={{document.id}}&fileId={{document.data}}"  class="list-group-item" ng-repeat="document in actuDocuments">
								<h4 class="list-group-item-heading">{{document.title}}</h4>
								<p class="list-group-item-text">{{document.summary}}</p>
							</a>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="col-md-2"></div>
</div>
<div class="row">
			<div class="col-md-12">
			<dl class="dl-horizontal">
				<dt>notre philosophie</dt>
					<dd>depuis la découverte de l'eau jusqu'à une pratique sportive 
		universitaire de compétition, nous souhaitons permettre à chacun d’atteindre son 
		plus haut niveau de pratique de la natation.</dd>
				<dt>notre préoccupation</dt>
					<dd>le respect de l'individu. Notre conception de la natation 
		sportive inclut une attention constante au développement individuel du nageur, à sa 
		santé et à son parcours scolaire pour les plus jeunes.</dd>
				<dt>notre force</dt>
					<dd>la souplesse d’adaptation à tous les niveaux de pratique de notre 
		sport. Nous sommes animés par les exigences d'une pratique de la natation de haut 
		niveau, mais accordons à la pratique loisir la même attention en termes de qualité de 
		formation et d'accompagnement sportif.</dd>
				<dt>notre exigence</dt>
					<dd>votre plaisir de nager !</dd>
				<dt>notre contrat</dt>
					<dd>donner le meilleur de nous-même pour que vous 
		donniez le meilleur de vous-même !</dd>
			</dl>
		</div>
</div>

<div id="footer-partenaires" class="footer-partenaires">
        	<div class="row">
        		<div class="col-md-2"><h2 class="footer-links-title">Partenaires institutionnels</h2></div>
	        	<div class="col-md-10">
	        		<a href="http://www.ffnatation.fr" target="_blank"><img src="https://lh5.googleusercontent.com/-LSFzLnmYVZI/VSEYHqhsJaI/AAAAAAAAEW0/DLZdBDSFSXY/w128-h82-no/FFN.png" title="FFN" /></a>
	        		<a href="http://midipyrenees.ffnatation.fr" target="_blank"><img src="https://lh5.googleusercontent.com/-noNwx9JE5-Y/VSEYIFNMuUI/AAAAAAAAEXA/xi2xik4E8iY/w70-h84-no/FFN_region.png" /></a>
	        		<a href="http://hautegaronne.ffnatation.fr" target="_blank"><img src="https://lh5.googleusercontent.com/-cTd55gU_4Qc/VSEYHrA8HCI/AAAAAAAAEWw/F8gQSxJmLxc/w65-h82-no/FFN_departement.png" /></a>
	        		<a href="http://www.midipyrenees.fr" target="_blank"><img src="https://lh5.googleusercontent.com/-QdejrKgIf2Q/VSEYJVWycGI/AAAAAAAAEWc/pUQfFD_joY4/w75-h72-no/midipyrennee.png" /></a>
        			<a href="http://www.haute-garonne.fr" target="_blank"><img src="https://lh3.googleusercontent.com/-rhCRqEWnex0/VSEYJA59MjI/AAAAAAAAEWQ/UZ20s9DeVYs/w76-h103-no/departement.png" /></a>
        			<a href="http://www.toulouse.fr" target="_blank"><img src="https://lh3.googleusercontent.com/-HYEzUb1IZ1c/VSEYIbjxhLI/AAAAAAAAEWs/vFNaafm655A/w147-h30-no/Mairie.png" /></a>
        			<a href="http://www.asptt.com" target="_blank"><img src="https://lh5.googleusercontent.com/-D2Fcddtme-g/VSEYHq-XI0I/AAAAAAAAEW8/xbNMG3KbOM4/w107-h45-no/ASPTT.png" /></a>
        			<a href="http://grandtoulouse.asptt.com/" target="_blank"><img src="https://lh4.googleusercontent.com/-LH-99J1OT8U/VSEYIwAB_zI/AAAAAAAAEWk/hdeSY54lUXM/w103-h26-no/aspttGrandToulouse.png" /></a>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-2"><h2 class="footer-links-title">Partenaires officiels équipement</h2></div>
        		<div class="col-md-10">
        			<a href="http://www.arena.fr" target="_blank"> <img src="https://lh3.googleusercontent.com/kRT4sHVRSKlLhPA6jhxbzTvpr9Rwefc-Us3BdA2LdzqzP3kxkxjxV22vQqNPGHf7TTZBr9F-B9QG7MKocwx-WV_er55xAWU4bmWQoBX1BCFYspnoqsdV-qjUJ4sZKFLDGhsE2zagW9JR3cdYEnlIi4XcaFQPF2AhNM2Jne-pB2m-MfXrjlFYYPdXmFLQ5yG7FhUa9ApmN880eDz_MD4lCxbjH-UQK-TMiK6QqYcChS4rsDJBrY_tUpV_LXtIyxhG_b_CAuNVH4WTPILNryWuTHKkwwsJTZ9klkybUoHXFxo1Qn4gXs8PK3KNIn_-VpyFegGszbj_0TGD4gufkeW9LF5J-b7QceKeFB2ePOOLzVrmEoLHzZXwq6fDFkwEdl7XtBpV5iPTz3g82uO0kQh1uokTlB8kDlvZ4R53mFpKUymd6Z04_KaFI4Ssn5alrRnolUk6q0D5P0GBfFjHn9o1beyR7c_MyZZMG65J6uwUz4FOeqoHPBy9EjMbb2WCymsOgPwm1BlkFbi2WUJRvNFXHe69zL4CdW_MoEl7lECMM1y8q7VOtYC0y0xYsPA0Rflo1zt-=w112-h85-no" /> </a>
        			<a href="http://www.nataquashop.com" target="_blank"> <img src="https://lh6.googleusercontent.com/-ilKCBoT0dMU/VSEYJlyTncI/AAAAAAAAEWY/EZQSIhTMrOI/w154-h51-no/nataquashop.png" /></a>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-2"><h2 class="footer-links-title">Partenaires</h2></div>
        		<div class="col-md-10">
        			<a href="http:/www.physioswim.com" target="_blank"><img src="https://lh4.googleusercontent.com/-EvGdEZ6aq14/VHIrQ4JaJFI/AAAAAAAADo8/HQmaaf_6ScY/w800-h500-no/physio.png" style="width: 125px; height: auto" /></a>
        		</div>
        	</div>
        </div>
        <div id="footer-title" class="row footer-titles">
        	<div class="col-md-3 center-block">
        		<h2 class="footer-links-title">ASPTT Toulouse Natation</h2>
        		<ul class="footer-links-content">
        			<li><a href="#/page/actualites" class="footer-links-content-link">Actualités</a></li>
        			<li><a href="#/page/comite" class="footer-links-content-link">Le comité de section</a></li>
        			<li><a href="#/page/entraineurs" class="footer-links-content-link">Les entraîneurs</a></li>
        			<li><a href="#/page/secrétariat" class="footer-links-content-link">Nous contacter</a></li>
        			<li><a href="#/mentions" class="footer-links-content-link">Mentions légales</a></li>
        		</ul>
        	</div>
        	<div class="col-md-3">
        		<h2 class="footer-links-title">Activités</h2>
        		<ul class="footer-links-content">
        			<li><a href="#/page/actualites" class="footer-links-content-link">Ecole de natation</a></li>
        			<li><a href="#/page/comite" class="footer-links-content-link">Loisirs</a></li>
        			<li><a href="#/page/entraineurs" class="footer-links-content-link">Aquagym</a></li>
        			<li><a href="#/page/entraineurs" class="footer-links-content-link">Compétition</a></li>
        			<li><a href="#/page/entraineurs" class="footer-links-content-link">Section sportive</a></li>
        		</ul>
        	</div>
        	<div class="col-md-3">
        		<h2 class="footer-links-title">Nous rejoindre</h2>
        		<ul class="footer-links-content">
        			<li><a href="#/page/actualites" class="footer-links-content-link">Inscription</a></li>
        			<li><a href="#/page/secrétariat" class="footer-links-content-link">Secrétariat</a><br /><div class="footer-address">54 rue des Sept Troubadours<br />Bureau 215 (2ème étage)<br />31000 Toulouse<br />Tel: 05 61 62 68 45</div></li>
        		</ul>
        	</div>
        	<div class="col-md-3">
        		<h2 class="footer-links-title">Suivez-nous</h2>
        		<ul class="footer-links-content">
        			<li><a href="https://plus.google.com/113747450706652808889" target="_blank" class="btn btn-social-icon btn-google-plus" rel="publisher">
						<i class="fa fa-google-plus"></i>
					</a>
					<a href="https://www.facebook.com/asptttoulousenatation" target="_blank" class="btn btn-social-icon btn-facebook" rel="publisher">
						<i class="fa fa-facebook"></i>
					</a></li>
        		</ul>
        	</div>
        </div>