<link rel="stylesheet" href="css/inscription-stage.css" />
<div class="row" ng-controller="InscriptionStageCtrl">
	<div>
		<h2>Stage de perfectionnement été 2016</h2>
		<h3>Ouvert aux enfants de 8 à 14 ans, savoir nager un 50m 2 nages sans s’arrêter (25m dorsal et 25m ventral).</h3>
		<h5>Journée multisports (9h à 17h)</h5>
		<ul>
			<li>Le matin: Natation à la piscine Léo Lagrange</li>
			<li>L'après-midi: Activités dans Toulouse (Patinoire, Trampoline, Escalade, Bowling, LaserQuest,Tennis de Table, Badminton, Tennis ; activités de complément sports collectifs de plein air.)</li>
		</ul>
		<p>Journée-type : prise en charge journalière de 09h à 17h.</p>
	</div>
	
	<h3>Inscrivez-vous ci-dessous</h3>
    <div class="board">
         <div class="board-inner">
         	<ul class="nav nav-tabs" id="myTab">
         		<div class="liner"></div>
		       <li class="active">
		       	<a href="#activite" data-toggle="tab" title="Activité" target="_self">
		          <span class="round-tabs two">
		              <i class="glyphicon glyphicon-shopping-cart"></i>
		          </span> 
				</a>
		      </li>
	      	  <li>
		      	  <a href="#nageur" data-toggle="tab" title="Informations du nageur(euse)" target="_self">
			          <span class="round-tabs three">
			               <i class="glyphicon glyphicon-user"></i>
			          </span>
		          </a>
	          </li>
	
	          <li id="info-contact">
	          	<a href="#info" data-toggle="tab" title="Informations de contact" target="_self">
	              <span class="round-tabs four">
	                   <i class="glyphicon glyphicon-user"></i>
	              </span> 
	          	</a>
	          </li>
	
	          <li>
	          	<a href="#cotisation" data-toggle="tab" title="Cotisation" target="_self">
	              <span class="round-tabs five">
	                   <i class="glyphicon glyphicon-usd"></i>
	              </span> </a>
	          </li>
          </ul>
         </div>

         <div id="tab-content" class="tab-content">
    <div class="tab-pane fade in active" id="activite">
        <form role="form">
        
		  <div class="form-group">
	    	<label class="sr-only" for="activite_pratique">Activité</label>
	    	<div class="radio" ng-repeat="session in sessions">
	    		<label>
	    			<input type="radio" name="sessions" id="session{{session.id}}" ng-model="dossier.session" value="{{session.id}}" />
	    			{{session.description}} - {{session.price}} euros
	    		</label>
	    	</div>
	      </div>
		  <button type="submit" class="btn btn-default btn-lg btn-block" ng-click="validateActivite()">Valider et passer à l'étape suivante</button>
		</form>
        
    </div>
          <div class="tab-pane fade" id="nageur">
       		<form role="form" name="formNageur" class="form-horizontal" ng-submit="validateNageur()">
          			<fieldset>
          				<legend>Information du nageur(euse)</legend>
          					<div class="form-group" ng-class="{'has-error':dossier.nom.$error.required}">
		          				<label for="nom" class="col-md-2 control-label">Nom</label>
		          				<div class="col-md-10">
		          					<input type="text" class="form-control" id="nom" name="nom" placeholder="nom" size="100" ng-model="dossier.nom" required />
		          					<div ng-messages="dossier.nom.$error" ng-messages-include="views/inscription-errors.html"></div>
		          				</div>
		          			</div>
		          			<div class="form-group" ng-class="{'has-error':dossier.prenom.$error.required}">
		          				<label for="prenom" class="col-md-2 control-label">Prénom</label>
		          				<div class="col-md-10">
		          					<input type="text" class="form-control" id="prenom" name="prenom" placeholder="prenom" size="100" ng-model="dossier.prenom" required />
		          					<div ng-messages="dossier.prenom.$error" ng-messages-include="views/inscription-errors.html"></div>
		          				</div>
	          				</div>
	          				<div class="form-group" ng-class="{'has-error':dossier.civilite.$error.required}">
		          				<label for="sexe" class="col-md-2 control-label">Sexe</label>
		          				<label class="radio-inline">
	          						<input type="radio" name="civilite" id="monsieur" value="0" ng-model="dossier.civilite" required />
	          						M
	          					</label>
	          					<label class="radio-inline">
	          						<input type="radio" name="civilite" id="madame" value="1" ng-model="dossier.civilite" required />
	          						F
	          					</label>
	          					<div ng-messages="dossier.civilite.$error" ng-messages-include="views/inscription-errors.html"></div>
	          				</div>
	          				<div class="form-group row" ng-class="{'has-error':dossier.datenaissance.$error.required}">
		          				<label for=dateNaissance class="col-md-2 control-label">Date de naissance</label>
		          				<div class="col-md-6">
		          					<div class="datefield">
	  									<input id="day" name="day" ng-model="dossier.day" type="tel" ng-keyup="goToInput('month')" maxlength="2" placeholder="30" required />/
	  									<input id="month" name="month" ng-model="dossier.month" type="tel" ng-keyup="goToInput('year')" maxlength="2" placeholder="03" required />/
	  									<input id="year" name="year" ng-model="dossier.year" type="tel" maxlength="4" placeholder="1998" required />
									</div>
		          				</div>
		          				<div ng-messages="dossier.datenaissance.$error" ng-messages-include="views/inscription-errors.html"></div>
	          				</div>
	          				<div class="form-group">
	          					<div class="checkbox">
	          						<label>
	          							<input type="checkbox" ng-model="dossier.adherent">
	          							Je suis adhérent cette année.
          							</label>
	          					</div>
	          					<div class="col-md-10" ng-show="dossier.adherent">
									<input type="email" class="form-control" id="email" name="email" placeholder="E-mail" size="50" ng-model="dossier.email" required />
								</div>
	          				</div>
          			</fieldset>
          			
  		<div style="margin-top:1%">
	  			<button type="submit" class="btn btn-default btn-lg btn-block">Valider et passer à l'étape suivante</button>
<!-- 	  			<button type="submit" class="btn btn-default btn-lg btn-block" ng-disabled="!dossier.$valid"">Valider et passer à l'étape suivante</button> -->
	  			</div>
          	</form>
          </div>
          <div class="tab-pane fade" id="info">
          	<form role="form" name="formDossier" class="form-horizontal" ng-submit="validateInfo()" novalidate>
	          	<fieldset>
		          	<legend>Parents</legend>
		          		<div class="form-group" ng-class="{'has-error':dossier.parent1Nom.$error.required || dossier.parent1Prenom.$error.required}">
	  						<label for="parent1Nom" class="col-md-2 control-label">Nom</label>
	  						<div class="col-md-4">
	  							<input type="text" class="form-control" id="parent1Nom" name="parent1Nom" placeholder="Nom" size="50" ng-model="dossier.parent1Nom" required />
	  						</div>
	  						<label for="parent1Prenom" class="col-md-2 control-label">Prenom</label>
	  						<div class="col-md-4">
	  							<input type="text" class="form-control" id="parent1Prenom" name="parent1Prenom" placeholder="Prenom" size="50" ng-model="dossier.parent1Prenom" required />
	  						</div>
	  					</div>
	  					<div ng-messages="dossier.parent1Nom.$error || dossier.parent1Prenom.$error" ng-messages-include="views/inscription-errors.html"></div>
	  					
		          		<div class="form-group">
	  						<label for="parent2Nom" class="col-md-2 control-label">Nom</label>
	  						<div class="col-md-4">
	  							<input type="text" class="form-control" id="parent2Nom" name="parent2Nom" placeholder="Nom" size="50" ng-model="dossier.parent2Nom" />
	  						</div>
		  					<label for="parent2Prenom" class="col-md-2 control-label">Prenom</label>
		  					<div class="col-md-4">
	  							<input type="text" class="form-control" id="parent2Prenom" name="parent2Prenom" placeholder="Prenom" size="50" ng-model="dossier.parent2Prenom" />
	  						</div>
	  					</div>
	          	</fieldset>
          	<fieldset>
  			<legend>Adresse postale</legend>
  				<div class="form-group" ng-class="{'has-error':dossier.adresse.$error.required}">
  					<label for="adresse" class="col-md-2 control-label">Adresse complète</label>
  					<div class="col-md-10">
  						<input type="text" class="form-control" id="adresse" name="adresse" placeholder="Adresse postale" size="100" ng-model="dossier.adresse" required />
  					</div>
  					<div ng-messages="dossier.adresse.$error" ng-messages-include="views/inscription-errors.html"></div>
  				</div>
  				<div class="form-group" ng-class="{'has-error':dossier.codePostal.$error.required}">
  					<label for="codePostal" class="col-md-2 control-label">Code postal</label>
  					<div class="col-md-10">
  						<input type="text" class="form-control" id="codePostal" name="codePostal" placeholder="Code postal" size="10" ng-model="dossier.codepostal" required />
  					</div>
  					<div ng-messages="dossier.codePostal.$error" ng-messages-include="views/inscription-errors.html"></div>
  				</div>
  				<div class="form-group" ng-class="{'has-error':dossier.ville.$error.required}">
  					<label for="ville" class="col-md-2 control-label">Ville</label>
  					<div class="col-md-10">
  						<input type="text" class="form-control" id="ville" name="ville" placeholder="Ville" size="50" ng-model="dossier.ville" required />
  					</div>
  					<div ng-messages="dossier.ville.$error" ng-messages-include="views/inscription-errors.html"></div>
  				</div>
  			</fieldset>
  		
	  		<fieldset>
	  			<legend>Contact</legend>
	  			<div class="form-group" ng-class="{'has-error':dossier.telephone.$error.required}">
	  				<label for="telephone" class="col-md-2 control-label">Numéro de téléphone principal</label>
	  				<div class="col-md-4">
	  					<input type="tel" class="form-control" id="telephone" name="telephone" placeholder="Téléphone" size="15" ng-model="dossier.telephone" required />
	  				</div>
	  				
					<label for="telephoneSecondaire" class="col-md-2 control-label">Numéro de téléphone secondaire</label>
					<div class="col-md-4">
						<input type="tel" class="form-control" id="telephoneSecondaire" placeholder="Téléphone secondaire" size="15" ng-model="dossier.telephoneSecondaire" />
					</div>
				</div>
				<div ng-messages="dossier.telephone.$error" ng-messages-include="views/inscription-errors.html"></div>
				<div class="form-group" ng-class="{'has-error':dossier.email.$error.required}">
					<label for="email" class="col-md-2 control-label">Adresse e-mail (usuelle pour toutes les communications)</label>
					<div class="col-md-10">
						<input type="email" class="form-control" id="email" name="email" placeholder="E-mail" size="50" ng-model="dossier.email" required />
					</div>
					<div ng-messages="dossier.email.$error" ng-messages-include="views/inscription-errors.html"></div>
				</div>
				<div class="form-group">
					<label for="email2" class="col-md-2 control-label">Adresse e-mail secondaire</label>
					<div class="col-md-10">
						<input type="email" class="form-control" id="email2" placeholder="E-mail secondaire" size="50" ng-model="dossier.emailsecondaire" />
					</div>
				</div>
	  		</fieldset>
  		<button type="submit" class="btn btn-default btn-lg btn-block" >Valider et passer à l'étape suivante</button>
	  		</form>
          </div>
          
          <div class="tab-pane fade" id="cotisation">
          	<h3>Votre inscription au stage de perfectionnement est pré-enregistrée.</h3>
          	<p class="lead">
          	Votre inscription ainsi que votre réservation de session sont effectives pour une période de 8 jours (soit jusqu'au {{validite | date:'dd/MM/yyyy'}}).<br />
          	Nous validerons définitivement votre dossier dès réception du paiement.<br />
          En l'absence de paiement de la cotisation au bout de 8 jours votre dossier d'inscription sera effacé afin de laisser la place à d'autres enfants.</p>
          	
          	<form role="form" enctype="multipart/form-data" ng-submit="validateInscription()">
          	<h3>Montant de votre cotisation: {{sessions[dossier.session].price}} euros (par chèque à l'ordre ASPTT Toulouse)</h3>

          	<button type="submit" class="btn btn-default btn-lg btn-block">Je finalise ma pré-inscription</button>
          	</form>
          	
          	<div class="modal fade" id="validation-popup" tabindex="-1" role="dialog" aria-hidden="true">
          		<div class="modal-dialog">
          			<div class="modal-content">
          				<div class="modal-header">
          					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          					<h4 class="modal-title">L'ASPTT Toulouse Natation vous remercie</h4>
          				</div>
          				<div class="modal-body">
				          		<p>N'oubliez de nous retourner votre paiement par chèque(s) avant le {{validite | date:'dd/MM/yyyy'}} à l'adresse suivante:<p class="text-center">ASPTT Grand Toulouse Natation<br />54 rue des Sept Troubadours<br />Bureau 215<br />31000 Toulouse.<br /></p>
				        </div>
				    </div>
				</div>
          	</div>
		  </div>
<div class="clearfix"></div>
</div>

</div>