<div class="row">
	<div class="col-md-1">
	
	
	</div>
	<div class="col-md-11">
		<div class="row">
			<div ng-bind-html="pageHtml"></div>
		</div>
		<div class="row">
			<div class="panel panel-info" ng-show="hasDocument">
				<div class="panel-heading"><h5>Documents annexes <span class="badge">{{nbDocuments}}</span></h5></div>
				<div class="panel-body">
					<div class="list-group">
						<a href="http://docs.google.com/viewer?embedded=true&url=http%3A%2F%2Fwww.asptt-toulouse-natation.com%2FdownloadDocument%3FdocumentId%3D{{document.id}}%26fileId%3D{{document.data}}" target="_blank" class="list-group-item" ng-repeat="document in documents">
							<h5 class="list-group-item-heading">{{document.title}}</h5>
							<p class="list-group-item-text">{{document.summary}}</p>
						</a>
						<div id="pdf-viewer" style="display:none">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
