<script src="../bootstrap/assets/js/holder.js"></script>
<div class="row">
    <div class="col-md-12">
    	<h2>2016-2017</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    	<h2>Nageurs nationaux</h2>
    </div>
</div>
<div class="row">
	<div class="col-md-offset-2">
		<img src="holder.js/1000x60/text:Groupe" />
	</div>
</div>
<div class="row">
	<h3>Coach</h3>
	<div class="col-md-3">
		<img src="holder.js/250x410/text:Steve Bei" />
	</div>
	<div class="col-md-3">
		<img src="holder.js/250x410/text:Sébastien Borderas" />
	</div>
	<div class="col-md-3">
		<img src="holder.js/250x410/text:Cyril Cavagna" />
	</div>
	<div class="col-md-3">
		<img src="holder.js/250x410/text:Loïc Pilorget" />
	</div>
</div>
<div class="row">
	<h3>Nageurs</h3>
	<div class="col-md-3">
		<img src="holder.js/250x410/text:Nageur 1" />
	</div>
</div>

<div class="row">
    <div class="col-md-12">
    	<h2>Historique</h2>
    	<p>2013-2014 : 34ème club français, soit 4ème club régional.</p>
    </div>
</div>
