font family:'Helvetica', Tahoma, sans-serif;

body - background-color: background-color: #e9f8fc;


dropdown-menu background-color: rgba(221, 244, 252, 1.0);
color: #023EA0


.nav > li > a {
  position: relative;
  display: block;
  padding: 3px 15px 3px 15px;
}

navbar-default:
backgroud-color:#9750D4
border-color: #e9f8fc
text-colo: #F3F9FC

navbar
margin-top: 25px

http://getbootstrap.com/customize/?id=4f899976a318d176c9b1
http://getbootstrap.com/customize/?id=628bb592e720a7706ad4
http://getbootstrap.com/customize/?id=93d536bca2d5ca944851
http://getbootstrap.com/customize/?id=d13bf04c8978da311b31
http://getbootstrap.com/customize/?id=7ce0eb40ff556bb72c4e
http://getbootstrap.com/customize/?id=20d51774358d23e54a94
http://getbootstrap.com/customize/?id=b1201c3d33495f3ad874 (https://gist.github.com/b1201c3d33495f3ad874)