<div class="row">
	<h3>J'apprends à nager</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 22/02 au 27/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 08h00 à 10h00 et 14h00 à 16h00</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 29/02 au 05/03</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 08h00 à 10h00 et 14h00 à 16h00</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h3>Avenirs</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 22/02 au 27/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 29/02 au 05/03</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
