<div class="row">
	<h3>J'apprends à nager</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 22/02 au 27/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 08h00 à 10h00 et 14h00 à 16h00</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 29/02 au 05/03</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 08h00 à 10h00 et 14h00 à 16h00</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h3>Avenirs</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 22/02 au 27/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 29/02 au 05/03</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h3>Poussins</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 22/02 au 27/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 19h00 à 20h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 19h00 à 20h45</td>
				<td>Alex Jany - 08h00 à 10h00<br />14h00 à 16h00</td>
				<td>Alex Jany - 19h00 à 20h45</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 29/02 au 05/03</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h3>Benjamins</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 22/02 au 27/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 19h00 à 20h45</td>
				<td>Alex Jany - 19h00 à 20h45</td>
				<td>Alex Jany - 19h00 à 20h45</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 29/02 au 05/03</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 09h00 à 11h45<br />Lautrec - 19h00 à 20h30</td>
				<td>Alex Jany - 09h00 à 11h45<br />Lautrec - 19h00 à 20h30</td>
				<td>Alex Jany - 09h00 à 11h45<br />Lautrec - 19h00 à 20h30</td>
				<td>Alex Jany - 08h00 à 10h00<br />Lautrec - 16h00 à 18h00</td>
				<td>Alex Jany - 09h00 à 11h45<br />Lautrec - 16h00 à 18h00</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h3>Min / Cadets A</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 22/02 au 27/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="6">Stage Callela</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 29/02 au 05/03</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 09h00 à 11h45<br />19h00 à 20h45</td>
				<td>Alex Jany - 09h00 à 11h45<br />19h00 à 20h45</td>
				<td>Alex Jany - 09h00 à 11h45<br />19h00 à 20h45</td>
				<td>Alex Jany - 0h00 à 10h00<br />14h00 à 16h00</td>
				<td>Alex Jany - 09h00 à 11h45<br />19h00 à 20h45</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h3>Min / Cadets B</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 22/02 au 27/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="6">Stage Callela</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 29/02 au 05/03</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 0h00 à 10h00<br />14h00 à 16h00</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h3>Section sportive</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 22/02 au 27/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="6">Stage Narbonne</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 29/02 au 05/03</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Léo Lagrange - 12h à 14h<br />Alex Jany - 19h00 à 20h45</td>
				<td>Léo Lagrange - 12h à 14h<br />Alex Jany - 19h00 à 20h45</td>
				<td>Léo Lagrange - 12h à 14h<br />Alex Jany - 19h00 à 20h45</td>
				<td>Léo Lagrange - 12h00 à 14h00</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h3>Elite / Open</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 22/02 au 27/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Bellevue - 12h à 14h<br />SupAéro - 18h30 à 20h30</td>
				<td>SupAéro - 18h30 à 20h30</td>
				<td>Bellevue - 12h à 14h<br />SupAéro - 18h30 à 20h30</td>
				<td>Bellevue - 12h à 14h<br />SupAéro - 18h30 à 20h30</td>
				<td>Bellevue - 12h à 14h<br />Alex Jany - 19h00 à 20h45</td>
				<td>Alex Jany - 09h00 à 12h00</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 29/02 au 05/03</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Léo Lagrange - 12h à 14h<br />SupAéro - 17h00 à 18h45</td>
				<td>Léo Lagrange - 12h à 14h<br />Lautrec - 19h00 à 20h30</td>
				<td>Léo Lagrange - 12h à 14h<br />Lautrec - 19h00 à 20h30</td>
				<td>Léo Lagrange - 12h00 à 14h00</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h3>Masters</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 22/02 au 27/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 19h00 à 20h45</td>
				<td>Alex Jany - 19h00 à 20h45</td>
				<td>Alex Jany - 19h00 à 20h45<br />Bellevue - 12h à 14h</td>
				<td>-</td>
				<td>Alex Jany - 19h00 à 20h45<br />Bellevue - 12h à 14h</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 29/02 au 05/03</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Bellevue - 12h00 à 14h00</td>
				<td>-</td>
				<td>Bellevue - 12h00 à 14h00</td>
				<td>Bellevue - 12h00 à 14h00</td>
				<td>Bellevue - 12h00 à 14h00</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>