<style>
.bg-primary {
	padding: 10px;
	background-color: #9750D3;
}
</style>
<div class="row">
	<h3 class="bg-primary">Avenirs</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 06/02 au 11/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="6"><span class="text-center">Repos</span></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 13/02 au 18/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Toulouse Lautrec - 19h00 à 20h30</td>
				<td>Alex Jany - 10h00 à 12h00</td>
				<td>Toulouse Lautrec - 19h00 à 20h30</td>
				<td>Alex Jany - 08h00 à 10h00<br />14h00 à 16h00</td>
				<td>Toulouse Lautrec - 16h00 à 18h00</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h3 class="bg-primary">Promotions</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 06/02 au 11/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Toulouse Lautrec - 19h00 à 20h30</td>
				<td>Toulouse Lautrec - 19h00 à 20h30</td>
				<td>Toulouse Lautrec - 19h00 à 20h30</td>
				<td>Toulouse Lautrec - 19h00 à 20h30</td>
				<td>Toulouse Lautrec - 19h00 à 20h30</td>
				<td>Léo Lagrange - 15h00 à 17h00</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 13/02 au 18/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
            <tr>
                <td>Toulouse Lautrec - 19h00 à 20h30</td>
                <td>Toulouse Lautrec - 19h00 à 20h30</td>
                <td>Toulouse Lautrec - 19h00 à 20h30</td>
                <td>Toulouse Lautrec - 18h00 à 20h00</td>
                <td>Toulouse Lautrec - 18h00 à 20h00</td>
                <td>Léo Lagrange - 15h00 à 17h00</td>
            </tr>
        </tbody>
	</table>
</div>
<div class="row">
	<h3 class="bg-primary">Espoirs</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 06/02 au 11/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>Alex Jany - 08h00 à 10h00</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 13/02 au 18/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
            <tr>
                <td>Alex Jany - 09h00 à 11h45 <br />19h à 20h45</td>
                <td>Alex Jany - 09h00 à 11h45 <br />19h à 20h45</td>
                <td>Alex Jany - 09h00 à 11h45 <br />19h à 20h45</td>
                <td>Alex Jany - 08h00 à 10h00<br /> Toulouse Lautrec - 16h00 à 18h00</td>
                <td>Alex Jany - 09h00 à 11h45<br /> Toulouse Lautrec - 16h00 à 18h00</td>
                <td>-</td>
            </tr>
        </tbody>
	</table>
</div>
<div class="row">
	<h3 class="bg-primary">Open</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 06/02 au 11/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
                <td>-</td>
                <td>Léo Lagrange - 12h00 à 14h00<br />Toulouse Lautrec - 19h00 à 20h30</td>
                <td>Alex Jany - 09h00 à 11h45<br />Toulouse Lautrec - 19h00 à 20h30</td>
                <td>Alex Jany - 08h00 à 10h00<br />Léo Lagrange - 19h00 à 21h00</td>
                <td>Alex Jany - 09h00 à 11h45<br />Sup'Aéro - 18h30 à 20h30</td>
                <td>Sup'Aéro - 09h00 à 11h00</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 13/02 au 18/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
            <tr>
                <td>Alex Jany - 09h00 à 11h45<br />Sup'Aéro - 18h00 à 20h00</td>
                <td>Alex Jany - 09h00 à 11h00<br />Sup'Aéro - 18h00 à 20h00</td>
                <td>Alex Jany - 09h00 à 11h45<br />Sup'Aéro - 18h00 à 20h00</td>
                <td>Alex Jany - 08h00 à 10h00<br />Sup'Aéro - 18h00 à 20h00</td>
                <td>Alex Jany - 09h00 à 11h45</td>
                <td>-</td>
            </tr>
        </tbody>
	</table>
</div>
<div class="row">
	<h3 class="bg-primary">Section sportive</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 06/02 au 11/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 09h00 à 11h45 <br />19h00 à 20h45</td>
				<td>Alex Jany - 09h00 à 11h45 <br />19h00 à 20h45</td>
				<td>Alex Jany - 09h00 à 11h45 <br />19h00 à 20h45</td>
				<td>Alex Jany - 08h00 à 10h00 <br />14h00 à 16h00</td>
				<td>Alex Jany - 09h00 à 11h45 <br />19h00 à 20h45</td>
				<td>Alex Jany - 09h00 à 12h00</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 13/02 au 18/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
            <tr>
                <td>Léo Lagrange - 12h00 à 14h00<br />Alex Jany - 19h00 à 20h45</td>
                <td>Léo Lagrange - 12h00 à 14h00<br />Alex Jany - 19h00 à 20h45</td>
                <td>Léo Lagrange - 12h00 à 14h00<br />Alex Jany - 19h00 à 20h45</td>
                <td>Léo Lagrange - 12h00 à 14h00<br />Alex Jany - 19h00 à 20h45</td>
                <td>Léo Lagrange - 12h00 à 14h00<br />Alex Jany - 19h00 à 20h45</td>
                <td>-</td>
            </tr>
        </tbody>
	</table>
</div>
<div class="row">
	<h3 class="bg-primary">Elite</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 06/02 au 11/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Léo Lagrange - 12h à 14h<br />Sup'Aéro - 17h00 à 19h00</td>
				<td>Léo Lagrange - 12h à 14h<br />Alex Jany - 19h00 à 20h45</td>
				<td>Léo Lagrange - 12h à 14h<br />Alex Jany - 19h00 à 20h45</td>
				<td>Léo Lagrange - 12h à 14h<br />19h00 à 21h00</td>
				<td>Léo Lagrange - 12h à 14h<br />19h00 à 21h00</td>
				<td>Léo Lagrange - 15h00 à 17h00</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 13/02 au 18/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alex Jany - 09h00 à 11h45<br /> Sup'Aéro - 18h00 à 20h00</td>
				<td>Alex Jany - 09h00 à 11h45<br /> Sup'Aéro - 18h00 à 20h00</td>
				<td>Alex Jany - 09h00 à 11h45<br /> Sup'Aéro - 18h00 à 20h00</td>
				<td>Léo Lagrange - 12h à 14h<br />19h00 à 21h00</td>
				<td>Alex Jany - 09h00 à 11h45</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<h3 class="bg-primary">Masters</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 06/02 au 11/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Toulouse Lautrec Lagrange - 19h00 à 20h30</td>
				<td>Toulouse Lautrec Lagrange - 19h00 à 20h30</td>
				<td>Toulouse Lautrec Lagrange - 19h00 à 20h30</td>
				<td>Toulouse Lautrec Lagrange - 19h00 à 20h30</td>
				<td>Toulouse Lautrec Lagrange - 19h00 à 20h30</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">Semaine du 13/02 au 18/02</th>
			</tr>
			<tr>
				<th>Lundi</th>
				<th>Mardi</th>
				<th>Mercredi</th>
				<th>Jeudi</th>
				<th>Vendredi</th>
				<th>Samedi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>Toulouse Lautrec Lagrange - 18h00 à 20h00</td>
                <td>Toulouse Lautrec Lagrange - 18h00 à 20h00</td>
                <td>-</td>
            </tr>
		</tbody>
	</table>
</div>