<div class="row">
<h1>Vente des calendriers édition 2015-2016</h1>
</div>


<div class="panel-group" id="accordion" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#selection" href="#selection" aria-expanded="true" target="_self">
          <h4>Sélectionner le(s) calendrier(s) et la quantité souhaité(s) <span class="badge" ng-show="commande.panier.length > 0">{{commande.panier.length}}</span></h4>
        </a>
      </h4>
    </div>
    <div id="selection" class="panel-collapse collapse in" role="tabpanel">
      <div class="panel-body">
<form>
<div class="row" ng-repeat="calendrier in calendriers">
	<div class="col-md-6"  ng-class-odd="'col-md-offset-0'" ng-class-even="'col-md-offset-6'">
	   <div class="col-md-8">
		<h4>{{calendrier.product.title}} <small>{{calendrier.product.description}}</small></h4>
		<img ng-src="{{calendrier.product.image}}" />
	   </div>
	   <div class="col-md-4 input-group input-group-sm">
	       <span class="input-group-btn"><button type="button" class="btn btn-default btn-sm" ng-click="productQuantite(calendrier, false)"><span class="glyphicon glyphicon-minus"></span></button></span>
           <input type="number" name="quantite" ng-model="calendrier.quantite" class="form-control" />
           <span class="input-group-btn"><button type="button" class="btn btn-default btn-sm" ng-click="productQuantite(calendrier, true)"><span class="glyphicon glyphicon-plus"></span></button></span>
       </div>
   </div>
</div>

<div class="row" style="margin-top: 2%">
    <button type="button" class="btn btn-primary btn-block" ng-click="goToIdentite()">Suivant</button>
</div>
</form>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#identite" target="_self">
          <h4>Je m'identifie avec mon adresse e-mail et mon code d'accès</h4>
        </a>
      </h4>
    </div>
    <div id="identite" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <form role="form">
             <div class="form-group">
                 <label for="find_email">Adresse e-mail</label>
                 <input type="email" class="form-control" id="find_email" placeholder="Entrer e-mail" ng-model="email" size="50" />
                 <label for="find_email_motdepasse">Mot de passe&nbsp;&nbsp;<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Code d'accès à 4 chiffres reçu par e-mail, en cas d'oubli vous pouvez le redemander en utilisant le formulaire ci-dessous"></span></label>
                 <input type="password" class="form-control" id="find_email_motdepasse" placeholder="Mot de passe" ng-model="mdp" />
             </div>
             <div style="position: relative; height: 34px; text-align: center; background: none">
                 <span class="h3" style="display: inline-block; padding: 8px; background-color: white; margin: auto">ou</span>
                 <hr style="margin: -20px auto 10px auto; width: 90%" />
             </div>
             <div class="form-group">
                 <label for="nom">Nom</label>
                 <input type="text" class="form-control" id="nom" placeholder="Nom" ng-model="commande.nom" size="50" />
                 <label for="prenom">Prénom</label>
                 <input type="text" class="form-control" id="prenom" placeholder="Prénom" ng-model="commande.prenom" />
                 <label for="email">Adresse e-mail</label>
                 <input type="text" class="form-control" id="email" placeholder="E-mail" ng-model="commande.email" />
             </div>
             <div>
                 <button type="submit" class="btn btn-success btn-block" value="submit" ng-click="commander()">Valider la commande</button>
             </div>
             
         </form>     
      </div>
    </div>
  </div>
</div>