<div class="modal fade" id="dossier-comment-popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <h4 class="modal-title">Commentaire</h4>
      </div>
      <div class="modal-body">
      	<div ng-hide="editCommentaire">{{currentCommentaire}}</div>
      	<div ng-show="editCommentaire">
      		<textarea class="form-control" ng-model="dossierCommentaireParameters.commentaire" rows="20"></textarea>
      	</div>
      </div>
      <div class="modal-bottom" ng-show="editCommentaire">
      	<button type="button" class="btn btn-primary btn-block" ng-click="updateCommentaire()">Valider</button>
      </div>
    </div>
  </div>
</div>