<div class="container" ng-controller="RecordController">
	<div class="row hidden-print">
		<h1 class="page-header">Records du club</h1>
	</div>
	<div class="row">
		<div class="form-inline">
			<div class="form-group">
				<label for="bassin">Bassin</label>
				<select id="bassin" class="form-control" ng-model="bassin" ng-options="bassin for bassin in bassins"></select>
			</div>
			<div class="form-group">
				<label for="nage">Nage</label>
				<select id="nage" class="form-control" ng-model="nage" ng-options="nage for nage in nages"></select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Epreuves</th>
						<th ng-repeat="categorie in categories">{{categorie}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="record in records">
						<td>{{record.epreuve.distance}}m {{record.epreuve.nage}}<br /><button type="button" class="btn btn-xs" ng-click="addRecord(record.epreuve)"><span class="glyphicon glyphicon-plus"></span></button></td>
						<td ng-repeat="recordCat in record.records" ng-click="addRecordCat(recordCat)">
							{{recordCat.nom}} {{recordCat.prenom}}<br />
							{{recordCat.annee}}<br />
							{{recordCat.temps}}<br />
							{{recordCat.jour | date: 'dd/MM/yyyy'}}<br />
							{{recordCat.lieu}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-2" ng-show="showAddRecord">
			<form>
				<div class="form-group">
					<label for="age">Catégorie</label>
					<select id="age" class="form-control" ng-model="recordCreation.age" ng-options="categorie for categorie in categories" />
				</div>
				<div class="form-group">
					<label for="nom">Nom</label>
					<input type="text" id="nom" class="form-control" ng-model="recordCreation.nom" />
				</div>
				<div class="form-group">
					<label for="prenom">Prénom</label>
					<input type="text" id="prenom" class="form-control" ng-model="recordCreation.prenom" />
				</div>
				<div class="form-group">
					<label for="annee">Année</label>
					<input type="number" id="annee" class="form-control" ng-model="recordCreation.annee" />
				</div>
				<div class="form-group">
					<label for="temps">Temps</label>
					<input type="text" id="temps" class="form-control" ng-model="recordCreation.temps" />
				</div>
				<div class="form-group">
					<label for="jour">Jour</label>
					<input type="date" id="jour" class="form-control" ng-model="recordCreation.jour" />
				</div>
				<div class="form-group">
					<label for="lieu">Lieu</label>
					<input type="text" id="lieu" class="form-control" ng-model="recordCreation.lieu" />
				</div>
				<button type="submit" class="btn btn-success" ng-click="createRecord()">Mettre à jour le record</button>
			</form>
		</div>
	</div>
</div>