<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div id="actualites" style="display:none">
			<div id="actualites-content" class="panel panel-info">
				<div class="panel-heading">
				<span style="font-weight: bold">{{actualiteTitle}}</span>
					<span style="float:right" ng-click="hideActualite"><a href="#">&larr; Revenir aux actualités</a></span>
				</div>
				<div class="panel-body" ng-bind-html="actualiteHtml"></div>
				
				<div class="list-group" ng-show="{{hasDocument}}">Documents associés
					<ng-repeat="actuDocu in actuDocuments">
						<a href="downloadDocument?documentId={{actuDocu.id}}&fileId={{actuDocu.data}}" title="{{actuDocu.title}}"
							class="list-group-item">{{actuDocu.title}}</a>
					</ng-repeat>
				</div>
			</div>
		</div>
	    <!-- Carousel
	    ================================================== -->
	    <div id="myCarousel" class="carousel slide" data-interval="5000" data-wrap="true" data-pause="none">
	      <!-- Indicators -->
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel" data-slide-to="1"></li>
	        <li data-target="#myCarousel" data-slide-to="2"></li>
	        <li data-target="#myCarousel" data-slide-to="3"></li>
	      </ol>
	      <div class="carousel-inner">
	        <div class="item" ng-class="{active:$first}" style="height: 500px;" ng-repeat="actualite in loadingApp.actualites">
	          <img src="{{actualite.imageUrl}}" class="img-responsive" alt="{{actualite.title}}" style="margin: auto">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>{{actualite.title}}</h1>
	              <button type="button" class="btn btn-default" ng-click="showActualite(actualite)">
	              	En savoir plus
	              </button>
	            </div>
	          </div>
	        </div>
	      </div>
	      <a class="left carousel-control" href="" data-target="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	      <a class="right carousel-control" href="" data-target="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div><!-- /.carousel -->
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
			<div class="col-md-12">
			<dl class="dl-horizontal">
				<dt>notre philosophie</dt>
					<dd>depuis la découverte de l'eau jusqu'à une pratique sportive 
		universitaire de compétition, nous souhaitons permettre à chacun d’atteindre son 
		plus haut niveau de pratique de la natation.</dd>
				<dt>notre préoccupation</dt>
					<dd>le respect de l'individu. Notre conception de la natation 
		sportive inclut une attention constante au développement individuel du nageur, à sa 
		santé et à son parcours scolaire pour les plus jeunes.</dd>
				<dt>notre force</dt>
					<dd>la souplesse d’adaptation à tous les niveaux de pratique de notre 
		sport. Nous sommes animés par les exigences d'une pratique de la natation de haut 
		niveau, mais accordons à la pratique loisir la même attention en termes de qualité de 
		formation et d'accompagnement sportif.</dd>
				<dt>notre exigence</dt>
					<dd>votre plaisir de nager !</dd>
				<dt>notre contrat</dt>
					<dd>donner le meilleur de nous-même pour que vous 
		donniez le meilleur de vous-même !</dd>
			</dl>
		</div>
</div>
<div id="diapo" class="row" style="display:none; margin: 0 auto">
	<ul class="rslides" id="slider3">
    </ul>
	<ul id="slider3-pager">
	</ul>
</div>
<div class="row" style="margin-top: 3%" ng-controller="LoadingAlbumCtrl">
	<div class="col-md-2" ng-repeat="album in albums.albums">
		<div class="thumbnail">
			<img src="{{album.couverture}}" class="img-responsive" alt="{{album.intitule}}" ng-click="getPhotos(album)" style="max-height: 90px">
			<div class="caption">
				<h6>{{album.shortIntitule}}</h6>
			</div>
		</div>
	</div>
</div>