
		
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
	    <!-- Carousel
	    ================================================== -->
	    <div id="myCarousel" class="carousel slide" data-interval="5000" data-wrap="true" data-pause="none">
	      <!-- Indicators -->
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel" data-slide-to="1"></li>
	        <li data-target="#myCarousel" data-slide-to="2"></li>
	        <li data-target="#myCarousel" data-slide-to="3"></li>
	        <li data-target="#myCarousel" data-slide-to="4"></li>
	      </ol>
	      <div class="carousel-inner">
	        <div class="item active" style="height: 500px;">
	          <img src="img/defilement/sitewebpaysage.jpg" class="img-responsive" alt="Compétition interne">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Compétition interne - Mercredi 16 avril 2014.</h1>
	              <p>Destinée à l'école de natation, la deuxième édition de cette compétition permettra aux enfants de jauger leur évolutions après 7 mois de pratique.</p>
	              <p><a class="btn btn-large btn-primary" href="#">Formulaire d'inscription</a></p>
	            </div>
	          </div>
	        </div>
	        <div class="item" style="height: 500px;">
	          <img src="img/defilement/sitewebportrait.jpg" class="img-responsive" alt="National 2">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Championnats de France Natation 2 - Toulouse</h1>
	              <p>Le 21, 22 et 23 mars nos compétiteurs vont disputer les championnats de France National 2 et pour certains obtenir leur billets pour les Championnats de France Elite.</p>
	              <p><a class="btn btn-large btn-primary" href="#">Suivez leurs performances</a></p>
	            </div>
	          </div>
	        </div>
	        <div class="item" style="height: 500px;">
	          <img src="img/defilement/sitepaysage.jpg" alt="Natathlon">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Natathlon</h1>
	              <p>Le 23 mars prochain débutera le Natathlon. Nos benjamins concourrons les différentes étapes de cette compétition et tenterons de représenter nos couleurs lors de la finale.</p>
	              <p><a class="btn btn-large btn-primary" href="#">Plus d'information</a></p>
	            </div>
	          </div>
	        </div>
	        <div class="item" style="height: 500px;">
	          <img src="img/defilement/fondinfosite.jpg" class="img-responsive" alt="Fond 1">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Test - Fond</h1>
	            </div>
	          </div>
	        </div>
	        <div class="item" style="height: 500px;">
	          <img src="img/defilement/fondinfosite.jpg" class="img-responsive" alt="Fond 2">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Test - Fond</h1>
	            </div>
	          </div>
	        </div>
	      </div>
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div><!-- /.carousel -->
		    </div>
		    <div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Donnez le meilleur !</h2>
	<dl class="dl-horizontal">
		<dt>notre philosophie</dt>
			<dd>depuis la découverte de l'eau jusqu'à une pratique sportive 
universitaire de compétition, nous souhaitons permettre à chacun d’atteindre son 
plus haut niveau de pratique de la natation.</dd>
		<dt>notre préoccupation</dt>
			<dd>le respect de l'individu. Notre conception de la natation 
sportive inclut une attention constante au développement individuel du nageur, à sa 
santé et à son parcours scolaire pour les plus jeunes.</dd>
		<dt>notre force</dt>
			<dd>la souplesse d’adaptation à tous les niveaux de pratique de notre 
sport. Nous sommes animés par les exigences d'une pratique de la natation de haut 
niveau, mais accordons à la pratique loisir la même attention en termes de qualité de 
formation et d'accompagnement sportif.</dd>
		<dt>notre exigence</dt>
			<dd>votre plaisir de nager !</dd>
		<dt>notre contrat</dt>
			<dd>donner le meilleur de nous-même pour que vous 
donniez le meilleur de vous-même !</dd>
	</dl>
</div>
		</div>
		<div class="row" style="margin-top: 3%">
	<div class="col-md-2">
		<div class="thumbnail">
			<img src="img/galerie/sitegpe.jpg" class="img-responsive" alt="Compétition interne">
			<div class="caption">
				<h6>Compétition interne du xxxx</h6>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="thumbnail">
			<img src="img/galerie/sitewebmarius.jpg" class="img-responsive" alt="National 2">
			<div class="caption">
				<h6>Championnats National 2</h6>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="thumbnail">
			<img src="img/galerie/sitewebcyrilpastailleavant.jpg" alt="Natathlon">
			<div class="caption">
				<h6>Natathlon 1</h6>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="thumbnail">
			<img src="img/galerie/test.jpg" alt="Natathlon">
			<div class="caption">
				<h6>Natathlon 2</h6>
				<!-- <a href="img/galerie/test.jpg" data-toggle="lightbox">Launch modal</a>-->
			</div>
		</div>
	</div>
	<h3>Nos partenaires</h3>
	<div class="col-md-4" style="border-left: 1px dotted #000000;">
		
		<img src="img/partenaires/bloclogosite.png" style="max-width: 400px" />
	</div>
</div>
