<div class="row">
	<div class="col-md-2">
	
		<div class="list-group" id="sidebar" style="visibility: visible">
	        <a href="#" class="list-group-item">Sous-menu 1</a>
	        <a href="#" class="list-group-item">Sous-menu 2</a>
	        <a href="#" class="list-group-item">Sous-menu 3</a>
	        <a href="#" class="list-group-item">Sous-menu 4</a>
	        <a href="#" class="list-group-item">Sous-menu 5</a>
        </div>
	
	</div>
	<div class="col-md-10">
	<div ng-bind-html="pageHtml"></div>
	</div>
</div>
