<div style="margin-top: 5%">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="row">
				<div style="text-align: center">
					<a href="http://www.nataquashop.com" title="http://www.nataquashop.com">
						<img src="img/partenaires/nataquashop.png" class="img-responsive" alt="Nataquashop" style="margin: auto" />
					</a>
					<h4><a href="http://www.nataquashop.com" title="http://www.nataquashop.com">http://www.nataquashop.com</a></h4>
				</div>
			</div>
			
			<div class="row">
				<div style="text-align: center">
					<a href="http://www.arenawaterinstinct.com/fr_fr/" title="http://www.arenawaterinstinct.com">
						<img src="img/partenaires/arena.png" class="img-responsive" alt="Arena" style="margin: auto" />
					</a>
					<h4><a href="http://www.arenawaterinstinct.com/fr_fr/" title="http://www.arenawaterinstinct.com">http://www.arenawaterinstinct.com</a></h4>
				</div>
			</div>
			
			<div class="row">
				<div style="text-align: center">
					<a href="http://hautegaronne.ffnatation.fr" title="http://hautegaronne.ffnatation.fr">
						<img src="img/partenaires/departement.png" class="img-responsive" alt="Haute-Garonne" style="margin: auto" />
					</a>
					<h4><a href="http://hautegaronne.ffnatation.fr" title="http://hautegaronne.ffnatation.fr">http://hautegaronne.ffnatation.fr</a></h4>
				</div>
			</div>
			
			<div class="row">
				<div style="text-align: center">
					<a href="http://midipyrenees.ffnatation.fr" title="http://midipyrenees.ffnatation.fr">
						<img src="img/partenaires/region.png" class="img-responsive" alt="Midi-Pyrénéens" style="margin: auto" />
					</a>
					<h4><a href="http://midipyrenees.ffnatation.fr" title="http://midipyrenees.ffnatation.fr">http://midipyrenees.ffnatation.fr</a></h4>
				</div>
			</div>
			
			<div class="row">
				<div style="text-align: center">
					<a href="http://www.ffnatation.fr" title="http://www.ffnatation.fr">
						<img src="img/partenaires/FFN.png" class="img-responsive" alt="FFN" style="margin: auto" />
					</a>
					<h4><a href="http://www.ffnatation.fr" title="http://www.ffnatation.fr">http://www.ffnatation.fr</a></h4>
				</div>
			</div>
			
			<div class="row">
				<div style="text-align: center">
					<a href="http://www.toulouse.fr" title="http://www.toulouse.fr">
						<img src="img/partenaires/Mairie.png" class="img-responsive" alt="Maire de Toulouse" style="margin: auto" />
					</a>
					<h4><a href="http://www.toulouse.fr" title="http://www.toulouse.fr">http://www.toulouse.fr</a></h4>
				</div>
			</div>
			</div>
		<div class="col-md-3"></div>
	</div>
</div>