<style>
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px;
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none;
    background:#9750d4;
    border:1px solid #FFFFFF;
    color:#FFFFFF;
}

.tree li span i {
margin-right: 7px;
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li .editable:hover {
    background:none;
    border:1px solid #000000;
    color: #000000;
    cursor: pointer;
    
}

</style>
<div class="container" ng-controller="LibelleController">
	<div class="row">
		<h1 class="page-header">Libellés <small>catégories des documents</small></h1>
	</div>
	<div class="row">
		<div class="col-md-5 tree">
    <ul>
        <li ng-repeat="libelle in libelles" ng-include="'libelleTree'">
        </li>
    </ul>
<script type="text/ng-template" id="libelleTree">
	<div ng-switch on="libelle.hasChild">
		<div ng-switch-when="false">	
			<span class="editable" ng-click="selectLibelle(libelle)">{{libelle.intitule}}</span>
		</div>
		<div ng-switch-default>
			<span><i class="glyphicon glyphicon-folder-open"></i>{{libelle.intitule}}</span>
		</div>
	</div>
	<ul ng-if="libelle.children">
		<li ng-repeat="libelle in libelle.children" ng-include="'libelleTree'"></li>
	</ul>
</script>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-6">
		<div class="row" ng-show="currentLibelle && !showLibelleCreationPanel">
			<form role="form" class="form-vertical" name="editLibelleForm" ng-submit="editLibelle()" novalidate>
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Editer le libellé</h3>
					</div>
					<div class="panel-body">
						<div ng-hide="editorEnabled">
							<p ng-click="editorEnabled=!editorEnabled" style="cursor:pointer">{{currentLibelle.intitule}}</p>
						</div>
						<div ng-show="editorEnabled">
							<div class="form-group">
								<div class="text-center" ng-class="{'bg-success' : libelleUpdateResult.success, 'bg-danger': !libelleUpdateResult.success}" ng-show="editLibelleForm.$submitted">
									<span ng-show="libelleUpdateResult.success"><strong>Le libellé {{newintitule}} a été mise à jour avec succès</strong></span>
									<span ng-show="libelleUpdateResult.exists"><strong>Le libellé {{newintitule}} existe déjà</strong></span>
									<span ng-show="!libelleUpdateResult.exists && !libelleUpdateResult.success"><strong>Le libellé {{newintitule}} n'a pas pu être mis à jour (erreur inconnue)</strong></span>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error' : editLibelleForm.newintitule.$invalid && !editLibelleForm.newintitule.$pristine }">
								<input class="form-control" ng-model="newintitule" name="newintitule" />
							</div>
						</div>
					</div>
					<div class="panel-footer">
					<button type="submit" class="btn btn-success btn-sm" ng-show="editorEnabled"><span class="glyphicon glyphicon-ok"></span></button>
			            <a href="" title="Supprimer" type="button" class="btn btn-sm btn-danger" ng-click="remove()"><i class="glyphicon glyphicon-remove"></i></a>
			        </div>
		        </div>
	        </form>
        </div>
        <div class="row">
        	<button type="button" class="btn btn-default btn-block" ng-click="showLibelleCreationPanel = !showLibelleCreationPanel">Créer un nouveau libellé</button>
        </div>
        <div class="row" style="margin-top: 2%" ng-show="showLibelleCreationPanel">
        	<form role="form" class="form-vertical" name="newLibelleForm" ng-submit="createLibelle()" novalidate>
	        	<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Nouveau libellé<span class="pull-right" style="cursor:pointer" ng-click="showLibelleCreationPanel = !showLibelleCreationPanel"><i class="glyphicon glyphicon-remove"></i></span></h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="text-center" ng-class="{'bg-success' : libelleCreateResult.success, 'bg-danger': !libelleCreateResult.success}" ng-show="newLibelleForm.$submitted">
								<span ng-show="libelleCreateResult.success"><strong>Le libellé {{newLibelle.intitule}} a été créé avec succès</strong></span>
								<span ng-show="libelleCreateResult.exists"><strong>Le libellé {{newLibelle.intitule}} existe déjà</strong></span>
								<span ng-show="!libelleCreateResult.exists && !libelleCreateResult.success"><strong>Le libellé {{newLibelle.intitule}} n'a pas pu être créé (erreur inconnue)</strong></span>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : newLibelleForm.newIntitule.$invalid && !newLibelleForm.newIntitule.$pristine }">
							<label for="newIntitule" class="control-label">Intitulé</label>
							<input id="newIntitule" class="form-control" ng-model="newLibelle.intitule" name="newIntitule" required />
						</div>
						<div class="form-group">
							<label for="newParent">Imbriquer dans un menu existant</label>
							<select id="newParent" class="form-control" ng-model="newLibelle.parent" ng-options="libelle for libelle in newLibelle.libelles">
								<option value="">Sélectionner le menu parent</option>
							</select>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default btn-block" ng-disabled="newLibelleForm.$invalid">Créer</button>
						</div>
					</div>
				</div>
			</form>
        </div>
	</div>
</div>
	</div>