<form name="actualiteForm" enctype="multipart/form-data" novalidate>
    <div class="form-group">
        <label>Titre</label>
        <input type="text" class="form-control" ng-model="currentActualite.title" placeholder="Titre" required />
    </div>
    <div class="form-group">
        <label>Images</label>
        <input type="text" class="form-control" ng-model="currentActualite.image" placeholder="Image" />
    </div>
    <div class="form-group">
    	<label>Message</label>
    	<div text-angular="text-angular" ng-model="currentActualite.content"></div>
    </div>
    <div class="form-group">
        <label>Pièce jointe ou image</label>
        <input type="file" id="fileUploadInput" name="files" multiple />
    </div>
    <div class="form-group">
    	<div class="checkbox">
    		<label>
    			<input type="checkbox" ng-model="currentActualite.facebook" />
    			Publier sur Facebook (attention les photos et la mise en forme ne fonctionnent pas)
    		</label>
    	</div>
    </div>
    <div class="form-group">
    	<div class="checkbox">
    		<label>
    			<input type="checkbox" ng-model="currentActualite.draft" />
    			Enregistrer en brouillon
    		</label>
    	</div>
    </div>
    <div class="form-group">
    	<label>Début de publication</label>
    	<input type="datetime-local" class="form-control" ng-model="currentActualite.beginAsString" />
    </div>
    <div class="form-group">
    	<label>Fin de publication</label>
    	<input type="datetime-local" class="form-control" ng-model="currentActualite.endAsString" />
    </div>
    <button type="button" class="btn btn-primary btn-lg" ng-disabled="!actualiteForm.$valid" ng-click="publish()">Publier</button>
    <button type="button" class="btn btn-primary btn-lg" ng-click="clear()">Effacer</button>
</form>
