<!DOCTYPE html>
<html lang="fr" ng-app="salarieApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="shortcut icon" href="../img/favicon.png">

    <title>ASPTT Toulouse Natation - Salariés</title>

    <!-- Bootstrap core CSS -->
    <link href="index.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../js/angular-spinkit-master/build/angular-spinkit.min.css">

    <!-- Bootstrap core CSS -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="bootstrap/assets/js/html5shiv.js"></script>
      <script src="bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet/less" href="bootstrap/less/bootstrap.less">
	<script src="bootstrap/assets/js/less.js"></script> -->
	<style>
	[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak {
	    display: none;
	}
	</style>
  </head>
  <body style="background-color: #e9f8fc;">
    <div class="container-fluid" ng-controller="SalarieController" ng-cloak>
		<div class="row hidden-print">
			<div class="col-md-6">
				
				<button type="button" class="navbar-toggle" style="display: block; float: left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ng-click="toogleMenu()">
			    	<i class="fa fa-bars"></i> Menu
				</button>
				<div style="margin-top: 8px; margin-bottom: 8px; padding: 9px 10px; font-size: 1.1em">
					<a href="#/dashboard"><span>ASPTT Toulouse Natation - Salarié</span></a>
				</div>
				
			</div>
			<ul class="nav navbar-nav navbar-right" style="float:right; padding: 0px 10px">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="../../img/nageur-nopic.png" style="max-height: 32px" /><br />
						{{aspttTokenInfo.prenom}} {{aspttTokenInfo.nom | limitTo: 1}}
					</a>
					<ul class="dropdown-menu">
						<li><a ng-href="/resources/authentication/logout/{{aspttToken}}" class="btn btn-xs"><span class="glyphicon glyphicon-off"></span></a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="container-fluid">
			<div class="col-md-3 sidebar hidden-print" id="menu"  ng-show="displayMenu">
				<ul class="nav nav-sidebar">
					<li><a href="#/saisie" ng-click="toogleMenu()">Saisie de l'activité</a></li>
					<li><a href="#/suivi" ng-click="toogleMenu()" data-show-when-connected="ACCESS_SALARIE_ACTIVITE_SUIVI">Suivi l'activité</a></li>
					<li><a href="#/">Poser des congés</a></li>
					<li><a href="#/">Documents divers</a></li>
				</ul>
			</div>
  			<div id="main-panel" class="col-md-9" style="margin-top: 1%">
  				<ng-loading-indicator></ng-loading-indicator>
				<div ng-view></div>
		    </div>
		</div>
	</div>

		<!-- FOOTER -->
      <footer>
      </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../bootstrap/assets/js/jquery.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrap/assets/js/holder.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.min.js"></script>
    <script src="https://code.angularjs.org/1.3.15/i18n/angular-locale_fr-fr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/locale/fr.js"></script>
    <script src="../js/angular-spinkit-master/build/angular-spinkit.min.js"></script>

    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/heure/SaisieHeureController.js"></script>
    <script type="text/javascript" src="js/heure/SaisieHeureService.js"></script>
    <script type="text/javascript" src="js/heure/SuiviHeureController.js"></script>
    <script type="text/javascript" src="js/heure/SuiviHeureService.js"></script>

  </body>
</html>
