<h1 class="page-header">Mentions légales</h1>

<h5>L'ASPTT Toulouse Natation</h5>
<p style="margin-left: 50px">est une section de l'association loi 1901 ASPTT Toulouse Omnisport, déclarée sous le numéro 338115660 00080.</p>

<h5>ASPTT-Toulouse-Natation.com a été déclaré</h5>
<p style="margin-left: 50px">à la Commission Nationale de l'Informatique et des Libertés (ci-après "La CNIL") sous le numéro 1798874 v 0.</p>

<h5>ASPTT-Toulouse-Natation.com est édité par:</h5>
<div class="text-center">
<address>
	<strong>ASPTT Toulouse Natation</strong><br />
54 rue des Troubardours porte 250-251<br />
31000 Toulouse<br />
E-mail: <a href="mailto: webmaster@asptt-toulouse-natation.com">webmaster@asptt-toulouse-natation.com</a>
</address>
</div>

<h5>ASPTT-Toulouse-Natation.com est publié</h5>
<p style="margin-left: 50px">par Delphine Pon et Michaël Kargbo.</p>

<h5>ASPTT-Toulouse-Natation.com est hébergé </h5>
<p style="margin-left: 50px"><a href="https://cloud.google.com/appengine/" >par Google App Engine - Google Cloud Platform</a></p>

<h5>Données personnelles</h5>
<p style="margin-left: 50px">Les informations recueillies sont nécessaires pour votre adhésion.<br />
Elles font l’objet d’un traitement informatique et sont destinées au secrétariat de l’association. En application des articles 39 et suivants de la loi du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent.<br />
Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant, veuillez vous adresser à : <a href="mailto: webmaster@asptt-toulouse-natation.com">webmaster@asptt-toulouse-natation.com</a>.</p>