<script src="../bootstrap/assets/js/holder.js"></script>
<div class="container" ng-controller="PalmaresCtrl">
<div class="row">
    <div class="col-md-12">
    	<h2>2016-2017</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    	<h2>Nageurs nationaux</h2>
    </div>
</div>
<div class="row">
	<div class="col-md-offset-2">
		<img src="img/elite_2017/groupe.jpg" class="img-responsive" />
	</div>
</div>
<div class="row">
	<h3>Coach</h3>
	<div class="col-md-3" ng-repeat="coach in palmares.coachs">
		<img ng-src="{{coach.photo}}" style="max-height : 410px; width: 250px" />
		<h4>{{coach.titre}}</h4>
		<small>{{coach.description}}</small>
	</div>
</div>
<div class="row">
	<h3>Nageurs</h3>
	<div class="row" ng-repeat="nageurs in palmares.nageurs" style="margin-top: 3%">
		<div class="col-md-3" ng-repeat="nageur in nageurs">
			<img ng-src="{{nageur.photo}}" style="max-height : 255px; max-width: 400px" />
			<h4>{{nageur.titre}}</h4>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-12">
    	<h2>Historique</h2>
    	<p>2013-2014 : 34ème club français, soit 4ème club régional.</p>
    </div>
</div>

</div>