	<div class="row">
		<h3>Liste des nageurs<small>&nbsp;par jours</small></h3>
	</div>
	<div class="list-group">
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Lundi</h4>
			<p class="list-group-item-text"><a href="/resources/enf/jours/Lundi/Castex" download>Castex</a></p>
			<p class="list-group-item-text"><a href="/resources/enf/jours/Lundi/Lautrec" download>Lautrec</a></p>
			<p class="list-group-item-text"><a href="/resources/enf/jours/Lundi/Alex" download>Alex Jany</a></p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Mardi</h4>
			<p class="list-group-item-text"><a href="/resources/enf/jours/Mardi/Alex" download>Alex</a></p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Mercredi</h4>
			<p class="list-group-item-text"><a href="/resources/enf/jours/Mercredi/Alex" download>Alex</a></p>
			<p class="list-group-item-text"><a href="/resources/enf/jours/Mercredi/Naves" download>Raymond Naves</a></p>
			<p class="list-group-item-text"><a href="/resources/enf/jours/Mercredi/Lautrec" download>Lautrec</a></p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Jeudi</h4>
			<p class="list-group-item-text"><a href="/resources/enf/jours/Jeudi/Lagrange" download>Léo</a></p>
			<p class="list-group-item-text"><a href="/resources/enf/jours/Jeudi/Castex" download>Castex</a></p>
			<p class="list-group-item-text"><a href="/resources/enf/jours/Jeudi/Alex" download>Alex</a></p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Vendredi</h4>
			<p class="list-group-item-text"><a href="/resources/enf/jours/Vendredi/Lagrange" download>Leo</a></p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Samedi</h4>
			<p class="list-group-item-text"><a href="/resources/enf/jours/Samedi/Alex" download>Alex</a></p>
			<p class="list-group-item-text"><a href="/resources/enf/jours/Samedi/Naves" download>Léo</a></p>
		</li>
	</div>
