<div ng-controller="DossierController">
	<div class="row">
		<h1 class="page-header">Dossiers d'inscriptions</h1>
	</div>
	<div class="row">
		<input type="text" class="form-control" ng-model="query" />
    	<select class="form-control" placeholder="Groupes" ng-model="groupe"
    	ng-options="groupe.id as groupe.title for groupe in groupes">
		 	<option value="">Choisir un groupe</option>
		</select>
		<button type="button" class="btn btn-block btn-primary" ng-click="search()">Rechercher</button>
		<button type="button" class="btn btn-block btn-primary" ng-click="initCreerDossier()">Créer un dossier</button>
	</div>
	<div class="row" ng-show="dossiers">
		<p><span class="badge">{{dossierCount}} résultats</span></p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Actions</th>
					<th>E-mail</th>
					<th>Code</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Date de naissance</th>
					<th>Groupe</th>
					<th>Créneaux</th>
					<th>Etat</th>
					<th>Dernière mise à jour</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="dossier in dossiers" ng-class="{'warning': dossier.etat =='PREINSCRIT'}">
					<td>
						<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						<button type="button" class="btn btn-default" ng-click="displayComment(dossier)" title="Afficher le commentaire" ng-show="dossier.comment">
							<span class="glyphicon glyphicon-comment"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#/dossier/{{dossier.dossierId}}">Modifier</a></li>
							<li><a href="#">Relancer</a></li>
							<li><a href="#" ng-click="remove(index, dossier)">Supprimer</a></li>
							<li class="divider"></li>
							<li><a href="#">Paiement reçu</a></li>
							<li><a href="#">Certificat</a></li>
							<li><a href="#">Ajouter un commentaire</a></li>
							<li class="divider"></li>
							<li><a href="" ng-click="changerGroupe(index, dossier)">Changer de groupe</a></li>
							<li><a href="#">Changer de créneau</a></li>
						</ul>
						</div>
					</td>
					<td>{{dossier.email}}</td>
					<td>{{dossier.motdepasse}}</td>
					<td>{{dossier.nom}}</td>
					<td>{{dossier.prenom}}</td>
					<td>{{dossier.naissance  | date: 'dd/MM/yyyy'}}</td>
					<td>{{dossier.groupe}}</td>
					<td>
						<span ng-repeat="creneau in dossier.creneaux">{{creneau}}<br /></span>
					</td>
					<td>{{dossier.etat}}</td>
					<td>{{dossier.updated | date: 'dd MMM yyyy HH:mm:ss'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div ng-include="'views/dossier/groupe.html'"></div>
	<div ng-include="'views/dossier/dossier-creer.html'"></div>
</div>