<div class="modal fade" id="groupe-popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <h4 class="modal-title">Changement de groupe</h4>
      </div>
      <div class="modal-body">
      	<h6>Groupe actuel: {{nageur.groupe.title}}</h6>
      	<select class="form-control" placeholder="Groupes" ng-model="nageur.groupe"
		    	ng-options="groupe as groupe.title for groupe in groupes">
		 	<option value="">Choisir un groupe</option>
		</select>
      </div>
      <div class="modal-bottom">
      	<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>