<div class="container" ng-controller="DossierController">
	<div class="row">
		<h1 class="page-header">Suivi des dossiers d'inscriptions</h1>
	</div>
	<div class="row" style="margin-bottom: 2%">
		<button type="button" class="btn btn-xs" ng-class="{'btn-success': enableNouveau.value === 'true', 'btn-danger': !(enableNouveau.value === 'true')}" ng-click="toggleParam(enableNouveau)"><span class="glyphicon" ng-class="{'glyphicon-ok': enableNouveau.value === 'true', 'glyphicon-remove': !(enableNouveau.value === 'true')}"></span> Inscriptions des nouveaux adhérents</button>
		<button type="button" class="btn btn-xs" ng-class="{'btn-success': enableAncien.value === 'true', 'btn-danger': !(enableAncien.value === 'true')}" ng-click="toggleParam(enableAncien)"><span class="glyphicon" ng-class="{'glyphicon-ok': enableAncien.value === 'true', 'glyphicon-remove': !(enableAncien.value === 'true')}"></span> Inscriptions des anciens adhérents</button>
	</div>
	<div class="row">
	   <form class="form-horizontal" ng-submit="search()">
	       <div class="form-group">
	           <input type="text" class="form-control" ng-model="query" />
	       </div>
    	
    	   <div class="form-group">
    	       <div class="form-inline">
    	               <label for="groupe">Groupe</label>
			    	<select class="form-control" id="groupe" ng-model="groupe"
			    	ng-options="groupe.id as groupe.title for groupe in groupes" ng-change="loadCreneaux()">
					 	<option value="">Choisir un groupe</option>
					</select>
                   <label for="dossierStatut">Statut du dossier</label> 
	                <select class="form-control" id="dossierStatut" name="dossierStatut" ng-model="dossierStatut" ng-options="statut as statut for statut in dossierStatus">
	                   <option value="">Choisir un statut</option>
	                </select>
			   </div>
		    </div>
		    <div class="form-group" ng-show="showCreneaux">
		    	<div class="form-inline col-md-5">
	  	            <label for="creneaux">Créneaux</label>
			    	<select class="form-control" id="creneaux" ng-model="creneau"
			    		ng-options="creneau.id as creneauLabel(creneau) for creneau in creneaux">
					 	<option value="">Choisir un créneau</option>
					</select>
				</div>
		    </div>
		    <div class="form-group">
		    	<h5>Filtres</h5>
		    	<div class="form-inline">
		    	
			    	<div class="checkbox">
		          		<label>
		          			<input type="checkbox" id="filterFacture" ng-model="facture" ng-true-value="'true'" ng-false-value="'false'" /> Facture demandée
		          		</label>
	          		</div>
	          		<div class="checkbox">
		          		<label>
		          			<input type="checkbox" id="filterFacture2" ng-model="facture2" ng-true-value="'true'" ng-false-value="'false'" /> Facture envoyée
		          		</label>
	          		</div>
	          		<div class="checkbox">
		          		<label>
		          			<input type="checkbox" id="certificat" ng-model="certificat" ng-true-value="'true'" ng-false-value="'false'" /> Certificat
		          		</label>
	          		</div>
	          		<div class="checkbox">
		          		<label>
		          			<input type="checkbox" id="certificatNon" ng-model="certificatNon" ng-true-value="'true'" ng-false-value="'false'" /> Sans certificat
		          		</label>
	          		</div>
	          		<div class="checkbox">
		          		<label>
		          			<input type="checkbox" id="certificat2" ng-model="certificat2" ng-true-value="'true'" ng-false-value="'false'" /> Certificat électronique
		          		</label>
	          		</div>
          		</div>
		    </div>
         </form>
		<button type="button" class="btn btn-block btn-primary" ng-click="search()">Rechercher</button>
		
		<button type="button" class="btn btn-block btn-primary" ng-click="initCreerDossier()">Créer un dossier</button>
		
	</div>
	<div class="row" ng-show="dossiers">
		<p><span class="badge">{{dossierCount}} résultats</span></p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Actions</th>
					<th>E-mail</th>
					<th>Code</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Date de naissance</th>
					<th>Groupe</th>
					<th>Créneaux</th>
					<th>Tarif</th>
					<th>Etat</th>
					<th>Dernière mise à jour</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="10"><button type="button" class="btn btn-sm btn-primary" ng-click="relancerSelected()">Relancer</button>
					&nbsp;<button type="button" class="btn btn-sm btn-primary" ng-click="factureSelected()" title="Confirmer l'envoi de la facture">Facturer</button>
					&nbsp;<button type="button" class="btn btn-sm btn-primary" ng-click="initEmail()" title="Envoyer un e-mail aux adhérents sélectionné">E-mail</button>
					&nbsp;<button type="button" class="btn btn-warning btn-sm" ng-click="adheronsSelected()" title="Adhérons">Adhérons</button></td>
				</tr>
			</tfoot>
			<tbody>
				<tr ng-repeat="dossier in dossiers | orderBy:'nom'" ng-class="{'warning': dossier.etat =='PREINSCRIT', 'danger': dossier.selected}" ng-click="selectDossier(dossier)">
					<td>
						<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						<button type="button" class="btn btn-default" ng-click="displayComment(dossier)" title="Afficher le commentaire" ng-show="dossier.comment">
							<span class="glyphicon glyphicon-comment"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#/dossier/{{dossier.dossierId}}">Modifier</a></li>
							<li ng-hide="dossier.etat == 'INSCRIT'"><a href="" ng-click="relancer(dossier)">Relancer</a></li>
							<li ng-hide="dossier.etat == 'ATTENTE'"><a href="" ng-click="attente(dossier)">Mettre en attente</a></li>
							<li><a href="" ng-click="remove(index, dossier)">Supprimer</a></li>
							<li><a href="" ng-click="removeNageur(index, dossier)">Supprimer dossier du nageur</a></li>
							<li><a href="" ng-click="annulerNageur(dossier)">Annuler le dossier du nageur</a></li>
							<li class="divider"></li>
							<li><a href="" ng-click="initPaiement(dossier)" ng-hide="dossier.etat == 'PAIEMENT_COMPLET' || dossier.etat == 'INSCRIT'">Paiement reçu</a></li>
							<li><a href="" ng-click="certificatRecu(dossier)" ng-hide="dossier.nageur.certificat">Certificat reçu</a></li>
							<li><a href="" ng-click="initCommentaire(dossier)">Ajouter un commentaire</a></li>
							<li class="divider"></li>
							<li><a href="" ng-click="changerGroupe(index, dossier)">Changer de groupe</a></li>
							<li><a href="" ng-click="initCreneaux(dossier)">Changer de créneau</a></li>
							<li class="divider"></li>
							<li><a href="/resources/inscription/print/{{dossier.nageur.id}}" download>Bulletin d'adhésion</a></li>
							<li><a href="/resources/dossiers/attestation/{{dossier.nageur.id}}" download>Attestation de paiement</a></li>
						</ul>
						</div>
					</td>
					<td>{{dossier.email}}</td>
					<td>{{dossier.motdepasse}}</td>
					<td>{{dossier.nom}}</td>
					<td>{{dossier.prenom}}</td>
					<td>{{dossier.naissance  | date: 'dd/MM/yyyy'}}</td>
					<td>{{dossier.groupe}}</td>
					<td>
						<span ng-repeat="creneau in dossier.creneaux">{{creneau}}<br /></span>
					</td>
					<td>{{dossier.montant}}</td>
					<td>{{dossier.etat}}</td>
					<td>{{dossier.updated | date: 'dd MMM yyyy HH:mm:ss'}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	
	<div ng-include="'views/dossier/groupe.html'"></div>
	<div ng-include="'views/dossier/dossier-creer.html'"></div>
	<div ng-include="'views/dossier/dossier-paiement.html'"></div>
	<div ng-include="'views/dossier/dossier-commentaire.html'"></div>
	<div ng-include="'views/dossier/creneaux.html'"></div>
	<div ng-show="showEmail" ng-include="'views/dossier/email.html'"></div>
</div>