<div class="modal fade" id="dossier-creneaux-popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <h4 class="modal-title">Changement de créneaux pour le groupe {{nageur.groupe.title}}</h4>
      </div>
      <div class="modal-body">
      	<select class="form-control" ng-model="nageur.creneaux"
		    	ng-options="creneau.id as creneauLabel(creneau) for creneau in creneaux" size="30" multiple>
		</select>
      </div>
      <div class="modal-bottom">
      	<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>