<div class="row">
	<h1 class="page-header">Dossiers {{dossier.principal.email}}
	<span class="badge">{{dossier.nageurs.length}} dossiers</span></h1>
</div>

<div style="margin-bottom: 1%" class="btn-toolbar" role="toolbar">
	<div class="btn-group" role="group">
		<a href="#/dossiers" class="btn btn-default" title="Retourner à la liste"><span class="glyphicon glyphicon-arrow-left"></span></a>
	</div>
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default">Supprimer</button>
	</div>
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default">Relancer</button>
		<button type="button" class="btn btn-default">Paiement reçu</button>
		<button type="button" class="btn btn-default">Certificat reçu</button>
	</div>
</div>


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#suivi" target="_self">Suivi</a></li>
    <li><a data-toggle="tab" href="#principal" target="_self">Informations générales</a></li>
    <li ng-repeat="nageur in dossier.nageurs">
    	<a data-toggle="tab" href="#{{nageur.nageur.id}}" target="_self">{{nageur.nageur.nom}} {{nageur.nageur.prenom}}</a>
    </li>
 </ul>
 
<div class="tab-content">
    <div id="suivi" class="tab-pane fade in active">
    	<div ng-include="'views/dossier/dossier-suivi.html'"></div>
    </div>
    <div id="principal" class="tab-pane fade in">
    	<div ng-include="'views/dossier/dossier-principal.html'"></div>
    </div>
    
    <div ng-repeat="nageur in dossier.nageurs" id="{{nageur.nageur.id}}" class="tab-pane fade in">
    	<div ng-include="'views/dossier/dossier-nageur.html'"></div>
    </div>
</div>