/** Add css rules here for your application. */

body {
	font-family: Helvetica, Verdana, sans;
}

.fonce {
	background-color: #094C7A
}
.clair {
	background-color: #106DAD
}
.text-fonce {
	color: #3193D7;
}
.text-gris {
	background-color: #92ADC0;
}
.page {
	background-color: #EBF1F5;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 100%;
	margin: 0px;
}
.root {
	background-color: #EBF1F5;
}
.header {
	background-color: #83C6F2;
	background-image: url(http://prototype.asptt-toulouse-natation.com/images/water.jpg);
	width: 1200px;
	height: 200px;
}

.header-logo {
	margin-top: 20px;	
}
.header-login {
	background-color: #80BFE8;
	background-image: url(http://prototype.asptt-toulouse-natation.com/images/lignes_grand.jpg);
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px dashed #04366E/*8BA1B0*/;
	margin-top: 40px;
	margin-left: 10px;
	width: 350px;
	height: 50px;
}
.header-login-inscription {
	color: #DBEEFF /*136095*/;
	font-weight: bold;
	cursor: pointer;
	font-size: 1.3em;
	text-decoration: underline;
}
.header-login-connexion {
	color: #DBEEFF;
	font-weight: bold;
	cursor: pointer;
	font-size: 1.3em;
	text-decoration: underline;
}

.header-login-sub-line {
	color:#FFFFFF;
	font-size:0.7em;
}

.menu-g {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 5%;
	border: 1px solid #7C858A;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size: 1.1em;
	background-image: url(http://prototype.asptt-toulouse-natation.com/images/degrade_3.png);
	background-position: top left;
	background-repeat: repeat-x;
	width: 200px;
}

.menu-g-title-first {
color: #FFFFFF;
	font-weight: bold;
	margin-top: 2%;
	padding-left: 2%;
	margin-bottom: 3%;
	
}

.menu-g-title {
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 2%;
	background-image: url(http://prototype.asptt-toulouse-natation.com/images/degrade_3.png);
	background-position: top left;
	background-repeat: repeat-x;
	padding-left: 2%;
}


.menu-g-sub {
	font-size: 1em;
	color: #457E9E;
	margin-left: 6%;
	line-height: 25px;
}

.menu-g-sub-mouseover {
	background-color: #80BFE8;
	color: #FFFFFF;
	padding-left: 6%;
	margin-left: 0%;
	cursor: pointer;
}
.menu-h {
	border: 1px solid #7C858A;
	font-size: 1.1em;
	background-color: #5E696F;
	width: 100%;
}

.menu-h-image {
}

.menu-h-title {
	color: #FFFFFF;
	font-weight: bold;
	padding: 5%;
}
.tetiere {
	font-size: 0.7em;
	font-style: italic;
	margin-bottom: 5px;
}
.title {
	font-size: 1.5em;
}
.bloc {
	border: 2px solid #7C858A;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-image: url(http://prototype.asptt-toulouse-natation.com/images/degrade_3.png);
	background-position: top left;
	background-repeat: repeat-x;
	background: -moz-linear-gradient(left center, #0A577A 0%, #18A0DF 68%);
	backgroud: -webkit-gradient(linear, left top, right top, color-stop(0, #0A577A), color-stop(0.68, #18A0DF));

}
.bloc-title {
	color: #FFFFFF;
	font-size: 1.2em;
	text-align: left;
	font-weight: bold;
	margin-left: 5%;
}

.bloc-title-link {
	cursor: pointer;
	text-decoration: underline;
}

.bloc-content {
	background-color: #FFFFFF;
	background-image: url(http://prototype.asptt-toulouse-natation.com/images/water.jpg);
}
.menu-b {
	border: 1px solid #7C858A;
	font-size: 1.1em;
	background-color: #5E696F;
	width: 100%;
}
.menu-b-title {
	color: #FFFFFF;
	font-weight: bold;
}
.counter {
	font-size: 0.7em;
	color: #457E9E;
}

.calendar-evt {
	color: #FF0000;
	text-decoration: underline;	
}

.content-content-title td {
	color: #FFFFFF;	
}

.odd {
	border: 2px dotted #18A1DF;
}

.odd-header {
}

.even {
	border: 2px dotted #6699FF;
}

.even-header {
}

.login {
	background-color: #C4E5F3;		
}

.login-header {
	background-image: url(http://prototype.asptt-toulouse-natation.com/images/degrade_3.png);
	background-position: top left;
	background-repeat: repeat-x;
	width: 100%;
	padding: 1px;
	padding-left: 3px;	
}

.login-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 3%;
	width: 70%;
	color: #FFFFFF;
}

.login-content {
	text-align: center;
	margin-top: 2%;
}

.login-button {
	margin-top: 2%;
	margin-left: 30%;
	width: 30%;
	height: 20px;
	text-align: center;
	background-color: #18A1DF;
	border: solid 1px #1175A0;
}

.login-close {
	text-align: right;
	cursor: pointer;	
}

.header-panel {
	padding: 5px;
	margin-top: 10px;
}

.header-panel-header {
	font-weight: bold;
}

.header-panel-content {
	margin-left: 3%;
	margin-top: 5px;
}

.user-header-goBackPublic-button {
	height: 30%;
	margin-right: 10%;
	border: 1px solid #000000;	
	width: 290px;
	font-size: 1em;
	margin-top: 10px;
}

.user-header {
	border: 1px solid #000000;	
}

.logout-panel {
	margin-bottom: 3%;
	width: 70%;
}

.logout-panel-label {
	font-size: 1.0em;
	font-weight: bold;
	color: #DBEEFF;
	cursor: pointer;
	text-decoration: underline;
}

.login-forget-button {
	margin-top: 2%;
	margin-left: 30%;
	height: 20px;
	text-align: center;
	background-color: #18A1DF;
	border: solid 1px #1175A0;
}

.login-forget-label {
	color:#FFFFFF;
	font-size:0.9em;	
}

.group-list {
	border: solid 1px #000000;	
}

.group-edition {
	border: solid 1px #000000;	
}

.main-content {
	width: 800px;
	height: 600px;
	margin-left: 10px;
	margin-right: 10px;
}

.userspace-page {
	border: 3px solid #000000;
	width: 1200px;
}

.userspace-header {
	width: 1200px;
	height: 100px;
	background-color: #83C6F2;
	background-image: url(http://prototype.asptt-toulouse-natation.com/images/water.jpg);
border: 3px solid #000000;	
}
.userspace-menu {
	border: 3px solid #000000;
	width: 100px;
	height:500px;
}

.userspace-content {
	border: 3px solid #000000;
	width: 900px;
	height:100%;
	margin-left: 1px;
}

.userspace-menu-button {
	border: 1px solid #000000;	
	width: 190px;
	font-size: 1em;
}