<web-app>
  <filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <listener>
  	<listener-class>com.asptttoulousenatation.core.server.config.CoreGuiceServletConfig</listener-class>
  </listener>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Asptt_toulouse_natation_app.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <display-name>Remote API Servlet</display-name>
    <servlet-name>RemoteApiServlet</servlet-name>
    <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
    <servlet-name>RemoteApiServlet</servlet-name>
    <url-pattern>/remote_api</url-pattern>
</servlet-mapping>

<context-param>
    <!-- max size of the upload request -->
    <param-name>maxSize</param-name>
    <param-value>20000000</param-value>
  </context-param>
  <context-param>
    <!-- Useful in development mode to slow down the uploads in fast networks.
         Put the number of milliseconds to sleep in each block received in the server.
         false or 0, means don't use slow uploads  -->
    <param-name>slowUploads</param-name>
    <param-value>0</param-value>
  </context-param>


<servlet>
    <servlet-name>ckUploaderServlet</servlet-name>
    <!-- This is the default servlet, it puts files in session -->
    <servlet-class>com.asptttoulousenatation.core.server.CkUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ckUploaderServlet</servlet-name>
    <url-pattern>/ckuploader</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <!-- This is the default servlet, it puts files in session -->
    <servlet-class>com.asptttoulousenatation.core.server.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>*.gupld</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>importServlet</servlet-name>
    <!-- This is the default servlet, it puts files in session -->
    <servlet-class>com.asptttoulousenatation.core.server.ImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>importServlet</servlet-name>
    <url-pattern>/v2/importServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>downloadServlet</servlet-name>
    <!-- This is the default servlet, it puts files in session -->
    <servlet-class>com.asptttoulousenatation.core.server.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/downloadDocument</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>expressCheckoutServlet</servlet-name>
    <!-- This is the default servlet, it puts files in session -->
    <servlet-class>com.asptttoulousenatation.server.paypal.Expresscheckout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>expressCheckoutServlet</servlet-name>
    <url-pattern>/expressCheckout</url-pattern>
  </servlet-mapping>
<!--OnPositive Tools-->
<servlet>
		<servlet-name>baseViewerServlet</servlet-name>
		<servlet-class>com.onpositive.gae.tools.servlets.BaseViewerServlet
		</servlet-class>
	</servlet>
<servlet-mapping>
		<servlet-name>baseViewerServlet</servlet-name>
		<url-pattern>/appwrench/baseviewer</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>SessionAuth</servlet-name>
		<servlet-class>com.onpositive.auth.AuthServlet</servlet-class>
	</servlet>
<servlet-mapping>
		<servlet-name>SessionAuth</servlet-name>
		<url-pattern>/appwrench/auth</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>QueueHandler</servlet-name>
		<servlet-class>com.onpositive.gae.tools.servlets.QueueHandlerServlet
		</servlet-class>
	</servlet>
<servlet-mapping>
		<servlet-name>QueueHandler</servlet-name>
		<url-pattern>/appwrench/queuehandler</url-pattern>
	</servlet-mapping>
<security-constraint>
		<web-resource-collection>
			<url-pattern>/appwrench/queuehandler</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
  <web-resource-collection>
   <url-pattern>https://api-3t.sandbox.paypal.com/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>*</role-name>
  </auth-constraint>
 </security-constraint>
 <servlet>
        <servlet-name>GetActuAction</servlet-name>
        <servlet-class>com.asptttoulousenatation.GetActuAction</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>GetActuAction</servlet-name>
  <url-pattern>/v2/GetActuAction.do</url-pattern>
 </servlet-mapping>
 <servlet>
        <servlet-name>GetStructureAction</servlet-name>
        <servlet-class>com.asptttoulousenatation.GetStructureAction</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>GetStructureAction</servlet-name>
  <url-pattern>/v2/GetStructureAction.do</url-pattern>
 </servlet-mapping>
 <servlet>
        <servlet-name>GetContentAction</servlet-name>
        <servlet-class>com.asptttoulousenatation.GetContentAction</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>GetContentAction</servlet-name>
  <url-pattern>/v2/GetContentAction.do</url-pattern>
 </servlet-mapping>
 <servlet>
        <servlet-name>InscriptionAction</servlet-name>
        <servlet-class>com.asptttoulousenatation.InscriptionAction</servlet-class>
 </servlet>
 <servlet>
        <servlet-name>CreneauNull</servlet-name>
        <servlet-class>com.asptttoulousenatation.CreneauNullAction</servlet-class>
 </servlet>
 <servlet>
        <servlet-name>CreneauList</servlet-name>
        <servlet-class>com.asptttoulousenatation.web.creneau.CreneauListAction</servlet-class>
 </servlet>
 <servlet>
        <servlet-name>Inscrits</servlet-name>
        <servlet-class>com.asptttoulousenatation.InscritsAction</servlet-class>
 </servlet>
 <servlet>
        <servlet-name>testEcole</servlet-name>
        <servlet-class>com.asptttoulousenatation.TestEcoleAction</servlet-class>
 </servlet>
 
 <servlet>
        <servlet-name>adherentList</servlet-name>
        <servlet-class>com.asptttoulousenatation.web.adherent.AdherentListAction</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>InscriptionAction</servlet-name>
  <url-pattern>/v2/InscriptionAction.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreneauList</servlet-name>
  <url-pattern>/v2/CreneauList.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreneauNull</servlet-name>
  <url-pattern>/v2/CreneauNull.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Inscrits</servlet-name>
  <url-pattern>/v2/Inscrits.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Inscrits</servlet-name>
  <url-pattern>/v2/Inscrits.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>testEcole</servlet-name>
  <url-pattern>/v2/testEcole.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>adherentList</servlet-name>
  <url-pattern>/v2/adherentList.do</url-pattern>
 </servlet-mapping>
 </web-app>
