<div class="container-fluid" ng-controller="ActualiteController">
	<div class="row">
		<h1 class="page-header">Actualités</h1>
	</div>
	<div class="row">
		<h2>Nouvelle publication</h2>
		<div ng-include="'views/actualite/actualite.html'"></div>
	</div>
	<div class="row" stsyle="margin-top: 2%" ng-show="actualites">
		<h2>Publications</h2>
		<p><span class="badge">{{actualites.length}} actualité(s)</span></p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Titre</th>
					<th>Date publication</th>
					<th>Date maj</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="actualite in actualites" ng-click="edit(actualite)">
					<td>
						<button class="btn btn-danger btn-xs" title="Supprimer la publication" ng-click="remove(actualite)"><span class="glyphicon glyphicon-remove"></span></button>
						<button class="btn btn-edit btn-xs" title="Editer la publication" ng-click="edit(actualite)"><span class="glyphicon glyphicon-edit"></span></button>
					</td>
					<td>{{actualite.title}}</td>
					<td>{{actualite.created | date: 'dd/MM/yyyy HH:mm'}} <span ng-show="actualite.createdBy">({{actualite.createdBy}})</span></td>
					<td>{{actualite.updated | date: 'dd/MM/yyyy HH:mm'}} <span ng-show="actualite.updatedBy">({{actualite.updatedBy}})</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>