@CHARSET "UTF-8";

body {
	
	font: 15px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	/* Margin bottom by footer height */
  	margin-bottom: 30px;
}

.sidebar {
	position: fixed;
	top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #9750D4;
    border-right: 1px solid #e9f8fc;
	color: #F3F9FC;
}

.sidebar .menu {
	font-size: 1.1em;
	font-weight: bold;
}

.sidebar a {
	color: #F3F9FC;
}

.sidebar li:hover a:hover {
	background-color: rgba(221, 244, 252, 1.0);
}

#container {
	border-top: 1px solid #7ACEF4;
}

#main {
	margin: 0 40px;
	border-top: 1px solid #7ACEF4;
}

#main-content {
	border: 1px solid #7C858A;
	border-radius: 15px;
	background-color: #e9f1f7;
	margin-right: 152px;
	padding: 5px;
}

#content-header {
	background: linear-gradient(to right, #1e5799 0%,#7db9e8 100%);
	border-radius: 5px;
	padding:3px;
	font-size: 1.2em;
	color: #FFFFFF;
}

#content-data {
	max-height: 600px;
	overflow: scroll;
}

#content-data article {
	border: 1px solid #3f9ce3;
	border-radius: 5px;
	margin: 3px 0;
	padding: 3px;
}

.content-actu-header {
	font-size: 1.1em;
	font-weight: bold;
}

#content-actu details {
	margin: 10px 0 0 20px;
}

#tools {
	float: right;
	width: 150px;
	margin-left: 2%;
}

#partenaires {
	margin-top: 2%;
}

#partenaires header {
background: linear-gradient(to right, #1e5799 0%,#7db9e8 100%);
	padding:3px;
	font-size: 1.2em;
	color: #FFFFFF;	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 150px;
	
}

#content-actu-more {
	
}

.actu-more-btn {
	color: #FFFFFF;
	background-color: #9750D4;
	border: 1px solid #FFFFFF;
}

.actu-more-btn:hover,
.actu-more-btn:focus,
.actu-more-btn:active {
  color: #333;
  background-color: rgb(233, 248, 252);;
  border: none;
}

.diapo {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}

.logo {
	display: none;
}
.logo-text {
	display: block;
}
@media (min-width: 768px) {
	.logo {
		position: absolute;
		left: -3px;
		top:-26px;
		max-height: 80px;
		display: block;
	}
	.logo-text {
		display: none;
	}
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:25px;
  	width:150px;
  	visibility: hidden;
  }
  
  #sidebar.affix {
    position: fixed;
    top:25px;
    width:150px;
    visibility: visible;
  }
  
  #scroll-top {
  	position: absolute;
  	right: 10px;
  }
  
  #scroll-top.affix-top {
    position: absolute;
  	margin-top:25px;
  	visibility: hidden;
  	right: 10px;
  	cursor: pointer;
  	visibility: visible;
  }
  
  #scroll-top.affix {
    position: fixed;
    bottom:25px;
    right: 10px;
    visibility: visible;
  }
}

.affix,.affix-top {
   position:static;
}

.mention {
	bottom: 25px;
}