@CHARSET "UTF-8";

#results table {
	border: 1px solid #4297d7;
	border-collapse: collapse;
}

#results td {
	border: 1px solid #4297d7;
	padding: 5px;
	vertical-align: top;
}

.jour {
	text-align: center;
}
.jour-text {
	font-weight: bold;
}

.complet {
	background-color: #aec8ee;
}

.no-exist {
	background-color: #b2b6bd;
}

