<div class="container" ng-controller="GroupeEffectifController">
	<div class="row">
		<h1 class="page-header">Effectifs par groupe et jour</h1>
	</div>
	<div class="row">
		<select ng-model="selectedGroupe" ng-options="groupe.title for groupe in groupes" ng-change=findDays()></select>
		<select ng-model="selectedDay" ng-options="day for day in days" ng-change="findNageurs()" ng-show="showDays"></select>
	</div>
	<div class="row" ng-show="showNageurs">
		<h3>Nageurs du groupe {{selectedGroupe.title}} - {{selectedDay}}</h3>
		
		<ul>
			<li ng-repeat="nageur in nageurs">
			<!-- /resources/dossiers/downloadPhoto/{{nageur.id}} -->
				<img src="../../img/nageur-nopic.png" class="img-thumbnail" style="max-height: 100px" /> {{nageur.prenom}} {{nageur.nom}}</li>
		</ul>
	</div>
</div>